%admin-summary
  = f.input_field :year, as: :hidden, value: Time.current.year
  %section
    %h2.h3 Registration Information #{user.nil? ? "" : "for #{user.full_name}"}
    = f.simple_fields_for :user do |u|
      = render partial: 'common/user_info', locals: { f: u, user_fields: true, address: true }
    = render partial: 'attendance_manager', locals: { f: f }
    = render partial: 'special_events_fields', locals: { f: f, reg_fee: reg.registration_fee, cruise_fee: reg.lake_cruise_fee || 0 }

    .row
      .col-12
        = f.input :status, as: :select, collection: Event::Registration.status_options

    .row
      .col-12
        .card.admin
          .card-body
            .card-title
              %h3.h4 Fee Summary
            .card-text
              %ul.list-unstyled
                %li.list-item-unstyled
                  .form-group
                    = f.input :total, input_html: { readonly: true, class: 'fixed-2', data: { target_total: true } }

                %li.list-item-unstyled
                  .form-group
                    = f.input :donation, input_html: { class: 'fixed-2', data: { summary_source: true } }

                %li.list-item-unstyled
                  .form-group
                    = f.input :paid_amount, input_html: { class: 'fixed-2', data: { summary_source: true } }

                %li.list-item-unstyled
                  .form-group
                    = f.input :balance, input_html: { readonly: true, class: 'fixed-2', data: { summary_source: true } }
