= f.input_field :year, as:  :hidden, value:  Time.new.year
%section
  %h2.h3 Registration Information #{user.nil? ? "" : "for #{user.full_name}"}
  = f.simple_fields_for :user do |u|
    = render partial: 'common/user_info', locals: { f:  u, user_fields:  true, address:  true }
  = render partial: 'attendance_manager', locals: { f: f }
  = render partial: 'special_events_fields', locals: { f: f, reg_fee: reg.registration_fee, cruise_fee: reg.lake_cruise_fee || 0 }


  .row
    .col-12
      %p.amount.form-group
        %label
          Donation:
          = f.input_field :donation

  .row
    .col-12
      = f.input :status, as: :select, collection: Event::Registration.status_options

  .row
    .col-12
      = f.input :paid_amount
