= f.input_field :year, as:  :hidden, value:  Time.new.year
%section
  %h2.h3 Registration Information #{!user.nil? ? "for #{user.full_name}" : ""}
  = render partial: 'attendance_manager', locals: { f: f }
  = render partial: 'special_events_fields', locals: { f: f, reg_fee: reg.registration_fee, cruise_fee: reg.lake_cruise_fee || 0 }


  .row
    .col-12
      %p.amount.form-group
        %label
          Donation:
          = f.input_field :donation, disable: true

        %label
          Registration fee:
          = f.input_field :registration_fee, disabled:  true, class:  'calculated'
  .row
    .col-12
      = f.input :status, as: :select, collection: Event::Registration.statuses

  .row
    .col-12
      = f.input :paid_amount, disabled: true
