= f.input_field :year, as: :hidden, value: Time.current.year

%section
  = f.simple_fields_for :user do |u|
    = render partial: 'common/user_info', locals: { f: u, user_fields: true, address: true }
  = render partial: 'attendance_manager', locals: { f: f }
  = render partial: 'special_events_fields', locals: { f: f }

  .row
    .col-12
      .card.admin
        .card-body
          .card-title
            %h3.h4 Fee Summary
          .card-text
            %ul.list-unstyled
              %li.list-item-unstyled
                .form-group
                  = f.input :donation, input_html: { class: 'fixed-2', data: { donation: true, recalculate_trigger: true, summary_source: true } }

              %fieldset
                %li.list-item-unstyled
                  .form-group
                    = f.input :total, input_html: { readonly: true, class: 'fixed-2', data: { target_total: true } }

                %li.list-item-unstyled
                  .form-group
                    %label Modification Amount
                    = text_field_tag :modification_amount, @registration.modification_amount, readonly: true, class: 'form-control fixed-2'

              %li.list-item-unstyled
                .form-group
                  = f.input :paid_method, as: :select, collection: Event::Registration.paid_method_options, prompt: '-- Select --'

              %li.list-item-unstyled
                .form-group
                  = f.input :paid_amount, input_html: { class: 'fixed-2', data: { paid_amount: true, recalculate_trigger: true, summary_trigger: true } }

              - if @registration.modifications.present?
                %fieldset{ style: "font-size: 0.7em; border: solid 1px #666; border-radius: 5px; padding: 1em;" }
                  %h2.h5 Modifications
                  %table.table
                    %thead
                      %tr
                        %th.text-left Status
                        %th.text-left Modification Amount
                    %tbody
                      = f.simple_fields_for :modifications do |m|
                        = render partial: 'modification_fields', locals: { m: m }
              - else
                %p (No modifications)

              %li.list-item-unstyled
                .form-group
                  .form-group.select
                    %label.control-label.select Payment status
                    = select_tag :payment_status, options_for_select(payment_status_options), data: { target_payment_status: true }, class: 'form-control select', value: @registration.payment_status

  .row
    .col-12
      .form-group
        = f.input :status, as: :select, collection: Event::Registration.status_options
