%attendance-manager
  %h2.h3 Registration Information
  %h3.h4 Attendees
  %p.hint (Adults are 16+, youths are 5-15, and children are under 5)
  .row
    .col-12
      #attendees.items
        = f.simple_fields_for :attendees do |a|
          = render partial:  'attendee_fields', locals:  { f:  a }

      - unless no_fee_related_changes
        .links
          = link_to_add_association "#{icon(:add_person)}".html_safe, f, :attendees, class:  'btn btn-primary '
          Add a guest
      %br
      %br
  .row
    .col-md-4
      .form-group
        %label
          Total adults:
          = f.input_field :number_of_adults, readonly:  true, style: "width: 80px; text-align: right;"
    .col-md-4
      .form-group
        %label
          Total youths:
          = f.input_field :number_of_youths, readonly:  true, style: "width: 80px; text-align: right;"
    .col-md-4
      .form-group
        %label
          Total children:
          = f.input_field :number_of_children, readonly:  true, style: "width: 80px; text-align: right;"

  .row
    .col-12
      %p.amount.form-group
        = f.input :registration_fee, input_html: { label: ' Attendee fee total:', class: 'attendee-total', style: "width: 150px; text-align: right;" }

  = f.input_field :year, as:  :hidden, value:  Time.new.year
