%special-events
  .card
    .card-body
      .card-title
        %h2.h3 Special Events
      .card-text
        .card{ data: { event: 'cruise', price: lake_cruise_price } }
          .card-body
            .card-title
              %h3.h4 Lake George Cruise
            .card-text
              .form-group
                = f.input :lake_cruise_number, as: :select, collection: (0..lake_cruise_max),
                  label: "Number of people for Lake George cruise",
                  input_html: { class: 'lake-cruise form-control numeric integer' }
              .form-group
                = f.input :lake_cruise_fee, input_html: { readonly: true, class: 'lake-cruise-fee fixed-2', data: { summary_source: true } }
                = hidden_field_tag :attendee_fee, @registration.registration_fee, id: 'attendee-fee-reference'

        .card{ data: { event: 'post-rendezvous-lunch' } }
          .card-body
            .card-title
              %h3.h4 Post-Rendezvous Lunch
            .card-text
              .form-group
                / Use Simple Form's built-in label for better accessibility and alignment
                = f.input :sunday_lunch_number, as: :select, collection: (0..sunday_lunch_max),
                          label: "Number of people for Sunday lunch",
                          input_html: { class: 'form-control numeric integer' }
        .form-group
          - reg_fee = @registration.registration_fee
          - cruise_fee = @registration.lake_cruise_fee || 0.0
          %label Total fee including cruise
          = text_field_tag :display_total, number_with_precision(reg_fee + cruise_fee, precision: 2), readonly: true, class: 'form-control display-total short-field'
