- unless registration_is_open || user_is_admin?
  = render partial: 'common/too_soon' 
- else
  .container
    .row.justify-content-center
      .col-md-8.col-12
        .card
          .card-body
            .card-text
              #registration-form
                - if !user_signed_in?
                  .cover
                = simple_form_for @event_registration, id:  'registration_form' do |f|
                  %section
                    %h2 Rendezvous Registration
                    %p * = required
                    - if current_user.admin?
                      .alert.alert-warning 
                        You are editing a registration for another user.
                        = f.input :created_by_admin, as: :boolean, readonly: true
                    - else
                      .alert.alert-info You are signed in with your user account.
                    = f.simple_fields_for :user do |u|
                      = render partial:  'common/user_info', locals:  { f:  u, user_fields:  true, address:  true  }

                    = render partial: 'attendance_manager', locals: { f: f }
                    = render partial: 'registration_status', locals: { f: f }


                  .row
                    .col-md-12
                      .form-group
                        = f.button :submit, input_html:  { value:  "Continue to payment #{icon(:right_arrow)}".html_safe }, class:  "btn  btn-primary"

