.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        - if current_user.admin? && @registration
          = render partial: 'toolbars/admin_registration_toolbar', locals: { reg: @registration, user: @registration.user }
        .card-body
          .card-title
            %h2= @title
          .card-text
            = @registration.modifications
            %admin-summary
              #registration-form.edit_registration
                = simple_form_for @registration, url: update_by_admin_event_registration_path, method: :patch, data: { turbo: false } do |f|
                  = render partial: 'admin_registration_fields', locals: { f: f }
                  .row
                    .col-12
                      .form-group
                        = f.submit 'Update', class:  "btn btn-primary"
