- unless registration_is_open
  = render partial: 'common/too_soon' 
- else
  .container
    .row.justify-content-center
      .col-md-8.col-12
        .card
          .card-body
            .card-text
              The registration fee is $#{event_fee} for adults and free for children. 
              #registration-form
                - if !user_signed_in?
                  .cover
                = simple_form_for @event_registration, id:  'registration_form' do |f|
                  %section
                    %h2 Rendezvous Registration
                    %p * = required
                    - if current_user.admin?
                      .alert.alert-warning 
                        You are editing a registration for another user.
                        = f.input :created_by_admin, as: :boolean, disabled: true
                    - else
                      .alert.alert-info You are signed in with your user account.
                    = f.simple_fields_for :user do |u|
                      = render partial:  'common/user_info', locals:  { f:  u, user_fields:  true, address:  true  }

                  %section
                    %h2 Registration Information
                    %h3 Attendees
                    %p.hint (Adults are 16+, and children are 15 and under)
                    .row
                      .col-md-12
                        #attendees{ 'data-cocoon': true }
                          = f.simple_fields_for :attendees do |a|
                            = render partial:  'attendee_fields', locals:  { f:  a }
                          .links
                            = link_to_add_association "#{icon(:add_person)}".html_safe, f, :attendees, class:  'btn btn-primary '
                            Add a guest
                        %br
                        %br
                    .row
                      .col-md-4
                        .form-group
                          %label Total adults:
                          = f.input_field :number_of_adults, disabled:  true, class:  'calculated fee-calculation'
                    .row
                      .col-md-4
                        .form-group
                          %label Total kids:
                          = f.input_field :number_of_children, disabled:  true, class:  'calculated fee-calculation'

                    .row
                      .col-12
                        %p.amount.form-group
                          %label 
                            Registration fee (USD):
                            = f.input_field :registration_fee, disabled:  true, class:  'calculated'
                    = f.input_field :year, as:  :hidden, value:  Time.new.year
                    
                    .row
                      .col-12
                        - if user_is_admin?
                          = f.input :status, as: :select, collection: Rails.configuration.rendezvous[:registration_statuses]
                    = f.input_field :status, as:  :hidden


                  .row
                    .col-md-12
                      .form-group
                        = f.button :submit, input_html:  { value:  "Continue to payment #{icon(:right_arrow)}".html_safe }, class:  "btn  btn-primary"

