.spacer
.container
  .row
    .col-md-4

  .row
    .col-md-12
      %h1 Rendezvous Registrations
      %table.table.table-striped
        %thead
          %tr
            %th Name
            - Event::Registration::AGE_GROUPS.each do |age|
              %th.text-center #{age.pluralize.titleize}
            %th.text-center Vehicles
            %th.text-center Fee
            %th.text-center Donation
            %th.text-center Total
            %th.text-center Paid
            %th.text-center Balance
            %th.text-center Admin
        %tbody
          - @registrations.each do |registration|
            %tr
              %td
                = link_to registration.user.last_name_first, event_registration_path(registration.id)
              - Event::Registration::AGE_GROUPS.each do |age|
                %td.text-center= registration.send("number_of_#{age.pluralize}")
              %td.text-center= vehicles_list(registration.user.vehicles)
              %td.text-center= number_to_currency(registration.registration_fee)
              %td.text-center= number_to_currency(registration.donation)
              %td.text-center= number_to_currency(registration.total)
              %td.text-center= number_to_currency(registration.paid_amount)
              - if registration.outstanding_balance?
                %td.text-center.has-balance= number_to_currency(registration.balance)
              - elsif registration.refund_due?
                %td.text-center.owed (#{number_to_currency(-registration.balance)})
              - else
                %td.text-center #{number_to_currency(-registration.balance)}

              %td= link_to "delete", event_registration_path(registration.id), method:  :delete
