.container
  .row.justify-content-center
    .col-md-8.col-12
      %payment-manager{ data: { "registration-id": @registration.id} }
        = simple_form_for @registration, url:  pay_by_admin_path(@registration), html:  { id:  'event_registration_form', data: { turbo: false } } do |f|
          .form-group
            - reg_fee = @registration.registration_fee
            = hidden_field_tag :lake_cruise_fee, @registration.lake_cruise_fee
            = hidden_field_tag :incoming_registration_fee, reg_fee
          %section
            .card
              .card-body
                .card-title
                  %h2.h3 Donation
                .card.text
                  .form-group.donation-options
                    - donation_list(donation_options, @registration.total.to_d).each do |rb|
                      %input.radio-inline.total-calculation{type: 'radio', name: :suggested_donation, value: rb[1]}
                      %span.mr-2= rb[0]
                  .row
                    .col-md-3
                      .form-group
                        %label Donation Amount
                        = f.input :donation, label: false, readonly: true, input_html:  { class:  'total-calculation'}

            .card
              .card-body
                .card-title
                  %h2.h3 Total
                .card.text
                  .row
                    .col-md-6.col-12
                      %p.amount.form-group.text-large
                        %label Total (USD):
                        = f.input_field :total, value:  ("%.2f" % @registration.total), readonly: true, class:  'calculated'

            .card
              .card-body
                .card-title
                  %h2.h3 Payment
                .card-text
                  .row
                    .col-md-6.col-12
                      .form-group
                        %ul.list-unstyled
                          = f.input :paid_method, value: 'invoice', label:  'Payment method', readonly: true, input_html:  { class:  'payment-method  mr-2' }

                  %section#payment-cash
                    %h3.h4 Pay by mail or in person
                    .row
                      .col-md-6.col-12
                        .form-group
                          = f.input :paid_amount

                        .form-group
                          = f.input :status, as: :select, collection: Event::Registration.statuses
                          = f.hidden :created_by_admin, value: true
                        .form-group
                          = f.button :submit, 'Send Invoice'.html_safe, class:  'btn btn-primary complete-registration', id: "card-button"
                          %img{ src: image_url('Stopwatch.gif'), class: 'review-loader', style: 'display: none; padding-left: 20px; border: solid 1px #999; width: 30px; height: 30px;  border-radius: 5px'}
