- config = Rails.configuration.rendezvous
:javascript
  const applicationId = "#{@square_app_id}"
  const locationId = "#{@square_location_id}"

= render partial: 'common/registration_step', locals: { step: @step, registration: @event_registration }
.container
  .row.justify-content-center
    .col-md-8.col-12
      = simple_form_for @event_registration, url:  complete_event_registration_path(@event_registration), html:  { id:  'event_registration_form' } do |f|
        %section
          .card 
            .card-body
              - if @event_registration.user.has_role? :vendor
                .card-title
                  %h2.h3 Vendor Fee
                .card.text
                  - if @event_registration.user&.vendor
                    %p Vendor: #{@event_registration.user&.vendor.name}
                  .form-group.vendor-fee
                    = f.input :vendor_fee, input_html: { readonly: true, value: vendor_fee } 
              .card-title
                %h2.h3 Donation
              .card.text
                %p Would you like to receive the Légion d'Honneur? Well, we can't do that, but your donations are truly appreciated! Even just taking care of the credit card fee is helpful!
                .form-group
                  - donation_list(config[:suggested_donations], @event_registration.total.to_f).each do |rb|
                    %input.radio-inline.total-calculation{type: 'radio', name: :suggested_donation, value: rb[1]}
                    %span.mr-2= rb[0]
                .row
                  .col-md-3
                    .form-group
                      %label Donation Amount
                      = f.input :donation, label:  false, input_html:  { class:  'total-calculation'}

          .card 
            .card-body 
              .card-title
                %h2.h3 Total
              .card.text
                .row
                  .col-md-6.col-12
                    %p.amount.form-group.text-large
                      %label Total (USD):
                      = f.input_field :total, value:  ("%.2f" % @event_registration.total), readonly: true, class:  'calculated'

          .card 
            .card-body 
              .card-title 
                %h2.h3 Payment Information
              .card-text
                %p You may pay by credit card or by check. We process your credit card information securely but we do not save it.
            
                .row
                  .col-md-6.col-12
                    .form-group
                      %ul.list-unstyled
                        = f.input :paid_method, label:  'Payment method', collection:  payment_options, as:  :radio_buttons, checked:  'cash or check', item_wrapper_tag: :li, input_html:  { class:  'payment-method  mr-2' }

                %section#payment-online
                  %h3.h4 Pay online with Square
                  %ul
                    %li Clicking the button below will take you to Square to pay.
                    %li 
                      You will then be returned to citroenrendezvous.org to complete your registration.
                      %strong It takes a several moments for Square to process your payment; please
                      don't close your browser or click away until you've been returned to our site.
                  
                  #payment-link.button-with-spinner     
                    = link_to "Make Payment", send_to_square_event_registration_path(@event_registration), type: "button", class:  'btn btn-primary btn-square-pay' 

                %section#payment-cash.hidden
                  %h3.h4 Pay by mail or in person
                  .row
                    .col-md-6.col-12
                      - if user_is_admin?
                        .form-group
                          = f.input :paid_amount

                        .form-group 
                          = f.input :status, as: :select, collection: config[:registration_statuses]

                      - else
                        %p
                          %em You may either pay on arrival, or send a check payable to Citroen Rendezvous LLC to:
                          %p= mailing_address
                        = f.input_field :status, as:  :hidden, value:  'payment due'

                      .form-group
                        = f.button :submit, 'Complete registration'.html_safe, class:  'btn btn-primary complete-registration', id: "card-button"
                        %img{ src: image_url('Stopwatch.gif'), class: 'review-loader', style: 'display: none; padding-left: 20px; border: solid 1px #999; width: 30px; height: 30px;  border-radius: 5px'}

= javascript_include_tag @square_sdk_url, defer: true

