= render partial: 'common/registration_step', locals: { step: @step, registration: @event_registration }
.container.last-step-vehicles
  .row.justify-content-center
    .col-md-8.col-12
      .card 
        .card-body 
          .card-title
            %h2.h3 You're Registered!
          .card-text
            %p 
              %strong Congratulations, you have completed your registration for the Rendezvous! We look forward to seeing you there!

      .card 
        .card-body 
          .card-title
            %h3.h4 What vehicle(s) are you bringing to the Rendezvous?
          .card-text
            %p 
              %em 
                If you're bringing any displayable vehicles (Citroen, other French marque, something eye-catching), please indicate here -- it helps us to plan. If you need to update your vehicle(s), click below. 
            %p
              We've improved the way we handle vehicles. You now can add as many vehicles as you want, and then indicate which one(s) you're bringing to the Rendezvous.

            %button.btn.btn-primary{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '#vehicle-modal'}
              Update Vehicles
            %br
            %br
            = simple_form_for @event_registration, url: save_updated_vehicles_event_registration_path(@event_registration), id:  'registration_vehicles' do |f|
              %ul.list-unstyled
                = f.input :vehicle_ids, as: :check_boxes, collection: @vehicles, label_method: :year_marque_model_sale, value_method: :id, include_hidden: false, item_wrapper_tag: :li, label: "Check the vehicles you're bringing"
              %br
              = f.submit "I'm Done", class: "btn  btn-success"

= render partial: 'common/user_vehicles_modal', locals: { redirect_url: update_vehicles_event_registration_path(@event_registration) }


