.container.last-step-vehicles
  .row
    = render partial:  'common/registration_header', locals:  { step:  'vehicles' }
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h2 You're Registered!
      %p 
        %strong Congratulations, you have completed your registration for the Rendezvous!
      %p 
        %em 
          If you're bringing a Citroen or other French car, please update here if necessary. It's helps us plan if we know what show vehicles you will be bringing. If the information below is correct, you may go directly to 
        = succeed '.' do
          = link_to 'your registration information', event_registration_path(@event_registration)
        Otherwise, please enter the correct information below.
      = simple_form_for @user, id:  'registration_vehicles' do |u|      
        = render partial:  'common/user_info', locals:  { f:  u, user_fields:  true,vehicles:  true }
        %br
        = u.button :submit, 'Save vehicle(s)', class:  'btn btn-primary', id:  'save-vehicle'
