- env = RendezvousSquare::Apis::Base.env_key
- all_fees = Rails.configuration.orders[env]
= render partial:  'common/registration_step', locals:  { step:  @step, registration: nil }
.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title
            %h1.h3 #{event_year} Citroen Rendezvous Registration
            %h2.h6.mt-1 #{event_dates}, Saratoga Springs, New York
          .card-text
            %p
              It's that time again!
              %em Formidable!
            %p
              We've introduced an early/late fee structure this year, as well as a youth fee. We apologize for raising the fees, but
              we've compared to similar events and we think the Rendezvous still represents a great value: included are ice cream at the ice cream social on Thursday,
              pizza on Friday night, the Saturday banquet, and the Sunday morning breakfast. And of course, all the Citroëns and other
              French cars your eyes can devour.

            .card
              .card-body
                .card-title
                  %h3.h6 Pricing
                .card-text
                  %table.table
                    %thead
                      %tr
                        %th
                          Dates
                        %th
                          Adult (16+)
                        %th
                          Youth (5-15)
                        %th
                          Child (Under 5)
                    %tbody
                      %tr
                        %td Early: up to #{format_short_date(early_end_date)}
                        %td $#{all_fees[:early][:adult]}
                        %td $#{all_fees[:early][:youth]}
                        %td Free
                      %tr
                        %td Late: starting #{format_short_date(late_start_date)}
                        %td $#{all_fees[:late][:adult]}
                        %td $#{all_fees[:late][:youth]}
                        %td Free

            .card
              .card-body
                .card-text
                  = formatted_event_hotel
                  - unless reservation_url.nil?
                    If there are rooms left, you can book out our special rate of $189/night
                    = succeed '.' do
                      = link_to 'here', reservation_url
                    by May 30.
            %p
              You can also find accommodations through the normal sites, or the
              = succeed '.' do
                = link_to 'Saratoga Springs Convention and Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging'

            %p Registration consists of the following steps:
            %ol
              %li
                Sign in
                %ul
                  %li You have an account if you have previously registered on line
                  %li We use sign-in links, so no password is required
                  %li You'll have an opportunity to sign up if you don't have an account
              %li Enter your registration information
              %li Review information and pay
              %li Tell us what vehicles you will be bringing to the Rendezvous

            %p
              If you have problems registering, please
              = succeed '.' do
                = link_to 'let us know', root_path(anchor:  'contact')
            %p.text-center
              %a.btn.btn-primary{ href:  user_signed_in? ? new_event_registration_path : new_user_session_path } Let's get started
            %hr{ style:  'margin: 10px; border-top: 2px solid #999' }
            %h3.text-center.text-info OR
            %p.printed-form
              If you prefer not to register on line, or are having problems registering, please print this registration form and send it in with your registration fee payment:
              = link_to "#{icon(:pdf)}".html_safe, written_reg_form_link()
