- contact = Rails.configuration.people[:technical_contact]
.container
  .row.justify-content-center
    .col-md-10.col-12
      - if @after_complete.present?
        .card 
          .card-body 
            .card-title 
              %h2.h2 Your Registration is Complete
            .card-text 
              %p
                Thank you for your registration! 
              %p
                If you need to cancel, please email #{contact[:name]} at #{contact[:email]}.
              %p
                The last date for a refund is #{refund_date}.

              %p 
                If you're not bringing a vehicle to the Rendezvous, this is optional, but if you are, please enter it here and
                %b please make sure to check that you are bringing it.
              %p  
                This helps with our planning, and will enter you for the judging!

      .card 
        .card-body 
          .card-title
            %h1.h2= (@user == current_user) ? 'My Vehicles' : "Vehicles for #{@user.full_name}"

          .card-text
            = simple_form_for @user do |f|
              = f.hidden_field :current_registration_id, value: @user.current_registration.id
              .row
                .col-md-12
                  .card 
                    .card-body
                      .card-text
                        = field_set_tag 'Vehicles', class: 'legend-sm' do
                          #vehicles.items
                            = f.simple_fields_for :vehicles do |v|
                              = render partial: 'common/vehicle_fields', locals: { f: v, nested: true }
                            .card-footer.mt-3
                              .links
                                -# Combined the icons and text into the link itself
                                = link_to_add_association f, :vehicles, |
                                  partial: 'common/vehicle_fields', |
                                  render_options: { locals: { nested: true } }, |
                                  'data-association-insertion-node' => '#vehicles', |
                                  'data-association-insertion-method' => 'append', |
                                  class: 'btn btn-outline-primary btn-sm' do
                                  = icon(:plus)
                                  = icon(:car)
                                  Add a vehicle
              %br
              .form-group
                = f.button :submit, input_html:  { value:  'Update Vehicles' }, class:  "btn  btn-primary"
                           