.container
  .row
    .col-12
      %h1 Administrative Info

  .row
    .col-12
      %h2 All Users
      %p Number of users: #{@user_count}
      
      %p
        =link_to "New user", new_user_by_admin_path, class: "btn btn-primary"
      %br
      %table#user-table.table.tablesorter.striped
        %thead
          %tr
            %th.tablesorter-header.filter-false Actions
            %th.email.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Email
            %th.last-name.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Last Name 
            %th.first-name.tablesorter-header.filter-false First Name
            %th.vehicles.tablesorter-header.filter-false Vehicles
          %tbody
            %tr{role: 'search', class: 'tablesorter-filter-row tablesorter-ignoreRow'}
              %td
              %td{'data-column' => '0' }
              %td
              %td
              %td
            - @users.each do |user|
              %tr
                %td
                  = link_to 'Edit', edit_user_path(user)
                  %br
                  = link_to 'View', user_path(user)
                                    
                %td= user.email
                %td= user.last_name
                %td= user.first_name
                %td
                  %ul
                    - user.vehicles.each do |v|
                      %li #{v.year_marque_model}