.container
  .row
    .col-12
      %h1 Administrative Info

  .row
    .col-12
      %h2 All Users
      %p Number of users: #{@user_count}
      
      %p
        =link_to "New user", new_user_by_admin_path, class: "btn btn-primary"
      %br
      %table#user-table.table.tablesorter.striped
        %thead
          %tr
            %th.tablesorter-header.filter-false User Roles
            %th.last-name.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Last Name 
            %th.first-name.tablesorter-header.filter-false First Name
            %th.email.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Email
            %th.recaptcha-whitelisted.filter-false Recaptcha
          %tbody
            %tr{role: 'search', class: 'tablesorter-filter-row tablesorter-ignoreRow'}
              %td
              %td{'data-column' => '0' }
              %td
              %td
              %td
            - @users.each do |user|
              %tr
                %td
                  - [:tester, :vendor, :admin].each do |role|
                    = check_box_tag role, '1', user.has_role?(role), "data-nobs-toggle" => ajax_toggle_role_path(user, role: role)
                    = label_tag role.to_s.titleize
                    %br                        

                %td= link_to user.last_name, user_path(user)
                %td= user.first_name
                %td= user.email
                %td
                  = check_box_tag :recaptcha_whitelisted,'1', user.recaptcha_whitelisted?, "data-nobs-toggle" => ajax_toggle_whitelist_path(user)
                  Whitelisted?