.container
  .row
    .col-md-offset-2.col-md-8.col-xs-12.heading
      - if user_is_admin?
        %h1 Profile for #{@user.full_name}"
      - else
        %h1 Bienvenue, #{current_user.first_name}

        .well.well-sm 
          %p If you're here to register, or to finish a registration: 
          %ul 
            %li= link_to 'Create a registration',  new_event_registration_path 
            - if current_registration
              %li= link_to 'Continue my registration', existing_event_registration_path 

      .well.well-sm
        - if user_is_admin?
          %h2 Profile Information for #{@user.last_name_first}
        .profile-info
          .user-info
            %h3 Info
            %table
              %tr
                %td
                  %em Name: 
                  #{@user.full_name}
              %tr
                %td
                  %em Email: 
                  #{@user.email}
              %tr
                %td
                  %em Address:
                  %br
                  %blockquote
                    = address_of(@user)
          .vehicle-info
            %h3 Vehicles
            - if @user.vehicles.blank?
              %p Currently no vehicles registered.
              %p
                = link_to 'Add a vehicle', edit_user_path(@user)
            - else
              %ul
                - @user.vehicles.each do |v|
                  %li= v.full_spec

        =link_to 'Edit my information', edit_user_path(@user), class:  'btn btn-warning' 
      
      .well.well-sm
        %ul
          %li 
            %em Recorded Rendezvous attendance: #{attended_rendezvous_years(@user)}
          %li 
            %em Registered for the #{Time.now.year} Rendezvous: #{@user.attending ? 'Yes' : 'No'}
          %li
            %em Interested in Citroenvie: #{@user.citroenvie? ? 'Yes' : 'No'}

    
