.container
  .row.justify-content-center
    .col-md-10.col-12
      .card 
        .card-body 
          .card-title
            - if user_is_admin?
              %h1.h2 Profile for #{@user.full_name}"
            - else
              %h1.h2 Bienvenue, #{current_user.first_name}

          .card-text
            %p To register or finish a registration: 
            %ul 
              - if current_registration
                %li= link_to 'Continue to current registration', existing_event_registration_path
              - else
                %li= link_to 'Create a registration',  new_event_registration_path 

      .card
        .card-body
          .card-text
            - if user_is_admin?
              %h2 Profile Information for #{@user.last_name_first}
            .profile-info
              .user-info
                %h3 Info
                %table
                  %tr
                    %td
                      %em Name: 
                      #{@user.full_name}
                  %tr
                    %td
                      %em Email: 
                      #{@user.email}
                  %tr
                    %td
                      %em Address:
                      %br
                      %blockquote
                        = address_of(@user)
              .vehicle-info
                %h3 Vehicles
                - if @user.vehicles.blank?
                  %p Currently no vehicles registered.
                  %p
                    = link_to 'Add a vehicle', edit_user_path(@user), class: 'btn btn-primary'
                - else
                  %table
                    %tbody
                    - @user.vehicles.each do |v|
                      %tr
                        %td{cols: 2} #{v.year_marque_model}
                      %tr
                        %td{cols: 2} #{v.judging_category}
                      %tr
                        %td #{v.code}
                        %td
                          %div{style: 'padding: 5px 20px'}
                            = image_tag qr_code_url(v.code), {style: 'width: 60px; height: 60px;'}

            =link_to 'Edit my information', edit_user_path(@user), class:  "btn  btn-warning" 
      
      .card
        .card-body
          .card-text

            %ul
              %li 
                %em Recorded Rendezvous attendance: #{attended_rendezvous_years(@user)}
              %li 
                %em Registered for the #{Date.current.year} Rendezvous: #{@user.attending ? 'Yes' : 'No'}
              %li
                %em Interested in Citroenvie: #{@user.citroenvie? ? 'Yes' : 'No'}

    
