/ banner area starts here
%section#sec1.banner.text-center
  .container
    .row
      %h3 Saratoga Springs, New York
      %h1 June 16-19, 2016
      %p 
        The Northeast's fun and fabulous gathering of 
        %br Citroen owners, enthusiasts and friends
      = image_tag "chevrons.png"
      %br/
      %button.register Register
/ end of banner section
/ about section
%section#sec2.about.text-center
  .container
    .row
      .col-md-8.col-md-offset-2.about-heading
        %h2
          SCHEDULE
        = image_tag "chevrons.png"
        %p
          This is a
          %span tentative
          activity schedule, based on previous years. There's a new organizing group in town, and we're reviewing the activities, so this is subject to change (but we intend to keep favorites!).
      .col-md-3.single-about.col-xs-6.col-sm-4
        .about-inside
          %i.fa.fa-road
          %h3 Thursday
          %ul.text-left
            %li 4 pm - country drive
            %li 6 pm - informal dinner at local venue
      .col-md-3.single-about.col-xs-6.col-sm-4
        .about-inside
          %i.fa.fa-automobile
          %h3 Friday
          %ul.text-left
            %li 12-6 pm - arrival and registration @ the Springs Motel
            %li 7 pm - box dinner and automotive admiration @ the Springs
      .col-md-3.single-about.col-xs-6.col-sm-4
        .about-inside
          %i.fa.fa-automobile
          %h3 Saturday
          %ul.text-left
            %li 9-10 pm - vendor set-up @ Lakeside Farms (Ballston Spa)
            %li 10-4 pm - THE SHOW @ Lakeside Farms
            %li 6 pm - Show banquet @ Lakeside Farms
      .col-md-3.single-about.col-xs-6.col-sm-4
        .about-inside
          %i.fa.fa-road
          %h3 Sunday
          %ul.text-left
            %li 9-930 am - continental breakfast and meet for drive & Springs Motel
            %li 930-10 am - line up for drive
            %li 1 pm - Arrive at drive destination, picnic lunch
/ end of about section
/ service section
%section#sec3.service.text-left
  .container
    .row
      .service-overlay
      .col-md-12
        %h2 ABOUT
        = image_tag "chevrons.png"
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          %br/
          %br/
          tempor incididunt ut labore et dolore magna aliqua.
      .col-md-12.services
        .col-md-2.single-service.col-xs-6.col-sm-3
          %i.fa.fa-hotel
          %h3 Accommodations
          %p Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.
        .col-md-2.col-md-push-1.single-service.col-xs-6.col-sm-3
          %i.fa.fa-shopping-cart
          %h3 Supporting Vendors
          %p Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.
      .col-md-12.services.bottom-services
        .col-md-2.single-service.col-sm-3.col-xs-6
          %i.fa.fa-calendar
          %h3 History
          %p Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.
        .col-md-2.col-md-push-1.single-service.col-sm-3.col-xs-6
          %i.fa.fa-empire
          %h3 Organization
          %p Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.
/ about section ends
/ portfolio section
%section#sec4.portfolio.text-center
  .row.portfolio-row
    .portfolio-heading
      %h2 PHOTOS
      = image_tag "chevrons.png"
      %p
        The best things about the Rendezvous are the cars and the people!
        %br/
        %br/
        ut labore et dolore magna aliqua.
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio2.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio2.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio3.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio3.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio4.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio4.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio5.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio5.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio6.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio6.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio7.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio7.jpg"}
        %i.fa.fa-search
    .col-md-3.single-portfolio.col-sm-6
      %figure.portfolio-item
        = image_tag "portfolio8.jpg", :class => 'img-responsive'
        %figcaption.portfolio-details
          %h4 Title goes here
          %p
            onsectetur adipisicing elit, sedo eiusmod tempor incidi
            et dolorerserss eerhfre mag.
      %a{:href => "portfolio8.jpg"}
        %i.fa.fa-search
/ end of portfolio section
%section#sec5.contact.text-center
  .container
    .row
      %article.contact-heading
        %h2 CONTACT US
        = image_tag "chevrons.png"
        %p
          Please register using the online registration form. 
          %br/
          If you have any questions that haven't been answered here, please let us know!
/ end of contact section
%section.contact-form
  .container
    .row
      .form
        %form{:action => "contact.php"}
          .sbtn.col-md-12.text-center
            %input.name.form-input{:placeholder => "NAME", :type => "text"}/
            %input.email.form-input{:placeholder => "EMAIL", :type => "email"}/
            %input.message.form-input{:placeholder => "MESSAGE", :type => "text"}/
            %input.submit-btn{:type => "submit"}/