.container
  .row
    .col-md-offset-2.col-md-8
      %h1 Purchases in #{@year}

      - if !@purchases.blank? && (@purchases.size > 0) 
        %table.table.striped
          %thead
            %tr
              %th Email
              %th Category
              %th Total
              %th Link

          %tbody
            - @purchases.each do |p|
              %tr
                %td #{p.email}
                %td= p.category.titlecase 
                %td= number_to_currency(p.total) 
                %td= link_to 'View', commerce_purchase_path(p)

      - else 
        No purchases yet