.container#purchase
  :javascript
    const itemPrices = #{@item_prices}
  .row
    .col-md-offset-2.col-md-8
      %h1 Create purchase
      %p
        %em $10 minimum for credit card purchases 

      = simple_form_for @purchase do |f|
        .form-group
          = f.label :email, nil, class: 'required'
          %br/
          = f.text_field :email, class: 'form-control', required: true

        - unless @silent_auction
          .well
            #cart_items
              %h2 #{Time.now.year} Merch
              .form-group
                = label_tag 'New merch subtotal'
                = text_field_tag :subtotal, nil, class: 'form-control', disabled: true, style: 'width: 20em'

              = f.simple_fields_for :cart_items do |item|
                = render partial:  'cart_item_fields', locals:  { f:  item }

              .links
                = link_to_add_association '<i class="fa fa-plus" ></i>'.html_safe, f, :cart_items, class:  'btn btn-primary btn-sm'
                Add item

        .well
          .form-group 
            = f.label 'Older merchandise/other'
            %br/
            = f.text_area :description, class: 'form-control'

          .form-group
            = f.label :generic_amount
            %br/
            = f.text_field :generic_amount, class: 'form-control', style: 'width: 20em'

          .form-group
            = f.label :category
            %br/
            = f.select :category, collection:  [['Merch', 'merch'], ['Silent Auction', 'silent auction'],['Donation', 'donation']], class:  'form-control'

        .well
          .form-group 
            = f.label :total
            %br/
            = f.text_field :total, id: 'total', style: 'width: 20em; font-size: 1.5em'


        #payment-section
          .form-group
            = f.input :paid_method, label:  'Payment method', collection:  payment_options, as:  :radio_buttons, checked:  'credit card', input_html:  { class:  'payment' }

        .well
          #payment-paid.hidden
            .form-group 
              = f.label :cash_check_paid, nil
              = f.text_field :cash_check_paid, class: 'form-control', style: 'width: 20em'

        .well  
          #payment-form
            %h2 Credit card payment info
            .form-group
              = f.label :first_name
              %br/
              = f.text_field :first_name, class: 'form-control'

            .form-group
              = f.label :last_name
              %br/
              = f.text_field :last_name, class: 'form-control'

            .form-group
              = f.label 'ZIP/Post code', nil, class: 'required'
              %br/
              = f.text_field :postal_code, class: 'form-control', required: true

            .form-group
              = f.label :country, nil, class: 'required'
              %br/
              = f.select :country, [['USA', 'USA'], ['CAN', 'CAN']], :selected => 'USA', class: 'form-control', required: true

            .logos
              = image_tag 'credit_card_logos_13'
            = hidden_field_tag :payment_method_nonce, ''

            .form-group
              %label{ for:  'card-number' } Card Number
              #card-number.form-control

            .form-group
              %label{ for:  'expiration-date' } Expiration Date
              #expiration-date.form-control

            .form-group
              %label{ for:  'cvv' } CVV
              #cvv.form-control

            %table.table.submit-status
              %tr.credit-card.text-danger
                %td
                  Credit card valid?
                %td
                  &nbsp;
                  %i.fa-solid.fa-check.hidden
                %td{ id:  'logo', rowspan:  '3' }
              %tr.expiration.text-danger
                %td
                  Expiration date valid?
                %td
                  &nbsp;
                  %i.fa-solid.fa-check.hidden
              %tr.cvv.text-danger
                %td
                  CVV valid?
                %td
                  &nbsp;
                  %i.fa-solid.fa-check.hidden

          .form-group
            = f.button :submit, 'Complete purchase', class:  'btn btn-primary'

