%style
  dt { padding-left: 2em; margin-bottom: 2em }
.container
  .row
    .col-md-offset-2.col-md-8
      %h1 Viewing purchase

      %dl
        %dd Email: 
        %dt #{@purchase.email.blank? ? '(None)' : @purchase.email}

        %dd Total: 
        %dt #{number_to_currency(@purchase.total)}

        %dd Category:  
        %dt #{@purchase.category.titlecase}

        - if @purchase.untracked_merchandise
          %dd Generic merch: 
          %dt #{@purchase.untracked_merchandise}

          %dd Generic merch amount:
          %dt #{number_to_currency(@purchase.amount)}

      #cart
        %ul
          - @purchase.cart_items.each do |item|
            - merchitem = Commerce::Merchitem.find(item.merchitem_id)
            %li #{item.number} #{merchitem.size} #{item.m.merchandise.description}


      .payment_info
        %h2 Payment Information
        .well
          %dl
            %dd Method:
            %dt #{@purchase.paid_method.gsub(/_/, ' ')}
          
          - if @purchase.paid_method == 'credit card'
            %h3 Credit card info
            %dl
              %dd Name: 
              %dt #{@purchase.full_name}

              %dd Email: 
              %dt #{@purchase.email}

              %dd Zip/Post code:
              %dt #{@purchase.postal_code}

              %dd Country: 
              %dt #{@purchase.country}
              
              %dd Transaction ID: 
              %dt #{@purchase.cc_transaction_id}

      %ul
        %li= link_to 'Create purchase', new_commerce_purchase_path
        %li= link_to 'See all purchases', commerce_purchases_path
