.container
  .row.justify-content-center
    .col-md-8.col-12.heading
      .card
        .card-body
          .card-title
            %h1.h2 Pending update for  #{@user}
          .card-text
            %table.table.table-sm
              %thead
                %tr
                  %th Category
                  %th.text-center Adults
                  %th.text-center Youths
                  %th.text-center Children
                  %th.text-center Lake Cruise

              %tbody
                %tr
                  %th Current
                  %td.text-center #{@registration.number_of_adults}
                  %td.text-center #{@registration.number_of_youths}
                  %td.text-center #{@registration.number_of_children}
                  %td.text-center #{@registration.lake_cruise_number}

                %tr
                  %th Updates
                  %td.text-center
                    - if @modification.delta_adults > 0
                      %span.text-success + #{@modification.delta_adults}
                    - elsif @modification.delta_adults < 0
                      %span.text-danger #{@modification.delta_adults}
                    - else
                      %span.text-muted (none)

                  %td.text-center
                    - if @modification.delta_youths > 0
                      %span.text-success + #{@modification.delta_youths}
                    - elsif @modification.delta_youths < 0
                      %span.text-danger #{@modification.delta_youths}
                    - else
                      %span.text-muted (none)

                  %td.text-center
                    - if @modification.delta_children > 0
                      %span.text-success + #{@modification.delta_children}
                    - elsif @modification.delta_children < 0
                      %span.text-danger #{@modification.delta_children}
                    - else
                      %span.text-muted (none)

                  %td.text-center
                    - if @modification.delta_lake_cruise > 0
                      %span.text-success + #{@modification.delta_lake_cruise}
                    - elsif @modification.delta_lake_cruise < 0
                      %span.text-danger #{@modification.delta_lake_cruise}
                    - else
                      %span.text-muted (none)

                %tr
                  %th New totals
                  %td.text-center= @modified_registration.number_of_adults
                  %td.text-center= @modified_registration.number_of_youths
                  %td.text-center= @modified_registration.number_of_children
                  %td.text-center= @modified_registration.lake_cruise_number

            %hr

            %table.table.table-sm
              %thead
                %tr
                  %th.text-left Category
                  %th.text-center Registration Fee
                  %th.text-center Lake cruise fee
                  %th.text-center Rendezvous total

              %tbody
                %tr
                  %th.text-left Current
                  %td.text-center= number_to_currency(@registration.registration_fee)
                  %td.text-center= number_to_currency(@registration.lake_cruise_fee)
                  %td.text-center= number_to_currency(@registration.total)

                %tr
                  %th.text-left Change
                  %td.text-center
                    - if @modification.new_attendee_fee > 0
                      %span.text-success
                        + #{number_to_currency(@modification.new_attendee_fee)}
                    - elsif @modification.new_attendee_fee < 0
                      %span.text-danger
                        "- #{number_to_currency(@modification.new_attendee_fee.abs)}"
                    - else
                      %span.text-muted (none)

                  %td.text-center
                    - if @modification.new_lake_cruise_fee > 0
                      %span.text-success
                        + #{number_to_currency(@modification.new_lake_cruise_fee)}
                    - elsif @modification.new_lake_cruise_fee < 0
                      %span.text-danger
                        "- #{number_to_currency(@modification.new_lake_cruise_fee.abs)}"
                    - else
                      %span.text-muted (none)

                  %td.text-center
                    - diff_total = @modification.modification_total
                    - if diff_total > 0
                      %span.text-success
                        + #{number_to_currency(diff_total)}
                    - elsif diff_total < 0
                      %span.text-danger
                        "- $#{number_to_currency(diff_total.abs)}"
                    - else
                      %span.text-muted (non)

                %tr
                  %th.text-left New total
                  %td
                  %td
                  %td.text-center
                    - diff_total = @modification.modification_total
                    - if diff_total > 0
                      %span.text-success
                        + #{number_to_currency(@modified_registration.total)}
                    - elsif diff_total < 0
                      %span.text-danger
                        "- $#{number_to_currency(@modified_registration.total)}"
                    - else
                      %span.text-muted @modified_registration.total
