.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-title 
          %h1.h3 Vehicle #{@vehicle.id}
        .card-body 
          .card-text
            %p #{@vehicle.year_marque_model}
            %p #{@vehicle.other_info}
            %p Owner: #{@vehicle.user.full_name}
            %p= link_to 'Edit this vehicle', edit_vehicle_path(@vehicle), class: 'btn btn-primary'