.container#keyed_contents
  .row.justify-content-center
    .col-md-10
      %h1 Manage Content
    .col-md-8 
      %h2 Creating
      = simple_form_for :keyed_content, url: new_keyed_content_path, method: :get do |f|
        .form-group
          = f.input :key, label: 'New key'
        .form-group
          = f.submit 'Create', class: "btn  btn-warning"

      %p
        = link_to "Import from CSV", keyed_contents_import_path, class: "btn  btn-warning"

    .col-md-10
      %h2 Editing
      %nav.nav.navbar.navbar-light
        %ul.nav.navbar
          - @keyed_contents.each do |kc|
            %li.nav-item
              = link_to kc.key, "##{kc.key}"
              - if kc.content.nil? or kc.content.empty?
                .badge.badge-danger EMPTY

      - @keyed_contents.each do |kc|
        .card{ id: kc.key }
          .card-body 
            .card-text
              = simple_form_for kc do |f|
                = render partial:  'keyed_content_fields', locals: { f: f }
                %br
                .form-group
                  = f.button :submit, input_html:  { value:  'Update Content' }, class:  "btn  btn-primary"

 
    


              