.tab-content{ data: { "tab-content": 'registrations' } }
  .row
    .col-12
      .card
        .card-body
          .card-title
            %h2= "Registrations for #{@year} (#{@reg_count})"
          .card-text
            = form_with url: admin_dashboard_path, method: :get do |f|
              - options = options_for_select((Event::Registration.distinct.pluck(:year) + [Date.current.year.to_s]).uniq.sort.reverse, @year)
              .form-group
                = f.label :year
                = f.select :year, options, {}, { class: 'form-select' }
              .form-group
                = f.submit 'Go', class: 'btn btn-primary'

      %table#registration-table.table.tablesorter.striped
        %thead
          %tr
            %th.tablesorter-header.filter-false.text-center Actions
            %th.tablesorter-header.filter-false.text-center Status
            %th.tablesorter-header.filter-false.text-center Payment Status
            %th.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Name
            %th.tablesorter-header.filter-false.text-center Event Fee
            %th.tablesorter-header.filter-false.text-center Cruise Fee
            %th.tablesorter-header.filter-false.text-center Donation
            %th.tablesorter-header.filter-false.text-center Total
            %th.tablesorter-header.filter-false.text-center Paid
            %th.tablesorter-header.filter-false.text-center Balance
        %tbody
          - @registrations.each do |reg|
            %tr.text-center
              %td.text-left
                %ul.list-unstyled
                  %li= link_to 'View', event_registration_path(reg)
                  %li= link_to 'Modify', modify_by_admin_event_registration_path(reg)
                  %li= link_to 'Cancel', cancel_event_registration_path(reg), data: { confirm: "Sure?" }

              %td= reg.status.upcase
              %td= reg.payment_status.upcase

              %td.text-left
                - if reg.user
                  = link_to reg.user.last_name_first, user_path(reg.user)
                - else
                  *** Missing User (ID: #{reg.id})

              %td.text-right= number_to_currency(reg.registration_fee)
              %td.text-right= number_to_currency(reg.lake_cruise_fee)
              %td.text-right= number_to_currency(reg.donation)
              %td.text-right= number_to_currency(reg.total)
              %td.text-right= number_to_currency(reg.paid_amount)

              -# Use the balance column directly
              - if reg.balance > 0
                %td.text-center.has-balance= number_to_currency(reg.balance)
              - elsif reg.balance < 0
                %td.text-center.owed= "(#{number_to_currency(reg.balance.abs)})"
              - else
                %td.text-center $0.00
