.tab-content{ data: { "tab-content": 'summary' } }
  .card
    .card-body
      .card-title
        %h2 Summary for #{@year}

      .card-text
        .row
          .col-md-12
            .row
              .col-md-6.col-12
                .card
                  .card-body
                    .card-title
                      %h3 Financials

                    .card-text
                      %table.table
                        %tbody
                          %tr
                            %td
                              %em Registration fees
                            %td.text-right= number_to_currency(@registration_fee_total)

                          %tr
                            %td
                              %em Donations
                            %td.text-right= number_to_currency(@donation_total)

                          %tr
                            %td
                              %em Lake Cruise Fees
                            %td.text-right= number_to_currency(@lake_cruise_total)

                          %tr
                            %td
                              %em Paid
                            %td.text-right= number_to_currency(@amount_paid)

                          %tr
                            %td
                              %em Total
                            %td.text-right= number_to_currency(@total_amount)

                          %tr
                            %td
                              %em Due
                            %td.text-right= number_to_currency(@amount_due)

                    %p
                      Square account:
                      = link_to '<i class="fa fa-bank"></i>'.html_safe,
                                "https://app.squareup.com",
                                target: '_blank'

              .col-md-6.col-12
                .card
                  .card-body
                    .card-title
                      %h3 The Numbers

                    .card-text
                      %table.table
                        %tbody
                          %tr
                            %td
                              %em Registrations
                            %td.text-right= @registration_count

                          %tr
                            %td
                              %em Attendees
                            %td.text-right
                              Adults: #{@adult_count}
                              %br
                              Youths: #{@youth_count}
                              %br
                              Kids: #{@child_count}

                          %tr
                            %td
                              %em Lake Cruise Participants
                            %td.text-right= @lake_cruise_count

                          %tr
                            %td
                              %em Volunteers
                            %td.text-right= @volunteer_count

                          %tr
                            %td
                              %em Vehicles
                            %td.text-right= @vehicle_count
