.tab-content{ data: { "tab-content": 'users' } }
  .row
    .col-12
      .card
        .card-body
          .card-title
            %h2= "Users"
          .card-text
            - unless @users.present?
              %p There are no users for that query.
            - else
              %table#registration-table.table.tablesorter.striped
                %thead
                  %tr
                    %th.tablesorter-header.text-left.filter-false Actions
                    %th.tablesorter-header.text-left.filter-false Registration
                    %th.tablesorter-header.text-left.filter-false Status
                    %th.tablesorter-header.text-left.filter-parsed{'data-placeholder' => 'Search'} Name
                    %th.tablesorter-header.text-left.filter-parsed{'data-placeholder' => 'Search'} E-mail
                %tbody
                  - @users.each do |user|
                    - reg = user.current_registration
                    - status = reg&.status || 'N/A'
                    %tr
                      %td.text-left
                        %ul.list-unstyled
                          - if reg
                            %li= link_to 'View', event_registration_path(reg.id)
                            - if reg.complete?
                              - if mod_id = active_modification(reg)
                                %li= link_to 'Modification', event_modification_path(mod_id, registration_id: reg.id)
                              - else
                                %li= link_to 'Modify', modify_by_admin_event_registration_path(reg)
                      %td.text-left
                        - if reg&.modifications
                          %p.text-small Modifications
                          %ul.list-unstyled
                            - reg.modifications.each do |m|
                              %li.text-small= link_to "#{m.id} (#{m.status})", event_modification_path(m.id, registration_id: reg.id)
                      %td
                        = status
                      %td.text-left= user.last_name_first
                      %td.text-left= user.email
