- config = Rails.configuration.rendezvous
- fee = config[:fees][:adult]
.container
  .row
    = render partial:  'common/registration_header', locals:  { step:  'register' }
    .col-md-offset-2.col-md-8.col-xs-12
      #registration-form
        %h3= @title
        = simple_form_for @event_registration, id: 'registration_form' do |f|
          - if @create_by_admin
            = hidden_field_tag :creator, value:  'omniscia'
          %section
            %h2 Personal Information
            %p * = required
            %p.bg-warning You are creating a registration for another user.

            = f.simple_fields_for :user do |u|
              = render partial:  'common/user_info', locals:  { f:  u, user_fields:  true, address:  true  }

          %section
            %h2 Registration Information
            %h3 Attendees
            %p.hint (Adults are 16+ and children are 15 and under)
            .row
              .col-md-12
                #attendees
                  = f.simple_fields_for :attendees do |a|
                    = render partial:  'attendee_fields', locals:  { f:  a }
                  .links
                    = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, :attendees, class:  'btn btn-primary btn-sm'
                    Add a guest
                %br
                %br
            .row
              .col-md-4
                .form-group
                  %label Total adults:
                  = f.input_field :number_of_adults, disabled:  true, class:  'calculated fee-calculation'
            .row
              .col-md-4
                .form-group
                  %label Total kids:
                  = f.input_field :number_of_children, disabled:  true, class:  'calculated fee-calculation'

            .row
              .col-md-12
                %p.amount.form-group
                  %label 
                    Registration fee (USD):
                    = f.input_field :registration_fee, disabled:  true, class:  'calculated'

                %p.donation.form-group
                  %label 
                    Donation (USD):
                    = f.input_field :donation

            = f.input_field :year, as:  :hidden, value:  Time.new.year
            = f.input_field :status, as:  :hidden, value:  Rails.configuration.rendezvous[:registration_statuses][0]

          %section
            %h2 Payment
            %p For credit card transactions, please process the payment or refund in the Braintree account. Note the transaction code and enter here.
            = f.simple_fields_for @transactions do |t|
              = render partial:  'transaction_fields', locals:  { f:  t, payment_methods: config[:payment_methods] }

            %p
              %label Registration %Status
              = f.input :status, collection:  config[:registration_statuses].map { |m| [m.titlecase, m] }, selected: 'complete', prompt:  '-- Select status --'

          .row
            .col-md-12
              .form-group
                - if @show_checkbox_recaptcha
                  = recaptcha_tags
                - else
                  = recaptcha_v3(action: 'login')
              .form-group
                = f.button :submit, input_html:  { value:  'Continue to payment <i class="fa fa-arrow-right">'.html_safe }, class:  'btn btn-primary'
          

