.container
  .row.justify-content-center
    .col-md-8.col-12
      #registration-form
        %h3= @title
        = simple_form_for @event_registration, url: admin_event_registrations_create_withemail_path, id: 'admin_onsite_registration_form' do |f|
          %section
            %label Onsite?
            = f.input_field :onsite, as: :boolean

          %section
            %h2 Personal Information
            %p * = required
            %p.bg-warning You are creating a registration for another user.

            = f.simple_fields_for :user do |u|
              = render partial:  'common/user_info', locals:  { f:  u, user_fields:  true, address:  true  }

          %section
            %h2 Registration Information
            %h3 Attendees
            %p.hint (Adults are 16+ and children are 15 and under)
            .row
              .col-md-12
                #attendees
                  = f.simple_fields_for :attendees do |a|
                    = render partial:  'attendee_fields', locals:  { f:  a }
                  .links
                    = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, :attendees, class:  'btn btn-primary '
                    Add a guest
                %br
                %br
            .row
              .col-md-4
                .form-group
                  %label Total adults:
                  = f.input_field :number_of_adults, disabled:  true, class:  'calculated fee-calculation'
            .row
              .col-md-4
                .form-group
                  %label Total kids:
                  = f.input_field :number_of_children, disabled:  true, class:  'calculated fee-calculation'

            .row
              .col-md-12
                %p.amount.form-group
                  %label 
                    Registration fee (USD):
                    = f.input_field :registration_fee, disabled:  true, class:  'calculated'

                %p.donation.form-group
                  %label 
                    Donation (USD):
                    = f.input_field :donation

            = f.input_field :year, as:  :hidden, value:  Time.new.year
            = f.input_field :status, as:  :hidden, value:  'payment due'

            .row
              .col-md-12
                .form-group
                  = f.button :submit, input_html:  { value:  'Continue to payment <i class="fa fa-arrow-right">'.html_safe }, class:  "btn  btn-primary"
            


