- resource = :user
- resource_name = 'user'
.container
  .row
    .col-md-offset-3.col-md-6
      %hr
      .well.sign-in
        %h2 Sign In
        %p If you registered on line last year, you have an account. 
        %p If you forgot your password, enter your email below.
        %p 
          If you don't have an account,
          %a{ :href => '/user_sign_up' } sign up here.
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'E-mail'
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password'
          .form-group
            = recaptcha_tags
          .actions
            = f.submit "Log in", :class => "btn btn-info"
      
      .well.reset-password
        %h3 Don't know your password? 
        %p We'll send you a link to reset it:
        = form_for(:user, :as => 'user', :url => user_password_path, :html => { :method => :post, :class => "form" }) do |f|
          .form-group
            %label Email
            = f.text_field :email, :required => false, :class => "form-control"
          .form-group
            = f.submit "Reset my password", :class => "btn btn-large btn-primary"
 