- resource = :user
- resource_name = 'user'
.spacer
.container
  .row
    .col-md-12
      .account.social-media
        %h2 Sign in with social media
        %a.btn.btn-facebook.btn-lg.facebook{ :href => user_omniauth_authorize_path(:facebook) }
          %i.fa.fa-facebook
          Sign in with Facebook
        %a.btn.btn-twitter.btn-lg.twitter{ :href => user_omniauth_authorize_path(:twitter) }
          %i.fa.fa-twitter
          Sign in with Twitter

  .row
    .col-md-12
      %hr
      .account.email
        %h2 Sign in with an email address
    .col-md-6
      .well
        %h3 Got an account? Sign in here.
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Log in", :class => "btn btn-info"
        
    .col-md-6
      .well
        %h3 Want an account? Sign up here.
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .field
            = f.label "First and last names"
            %br/
            = f.text_field :first_name
            = f.text_field :last_name
          .actions
            = f.submit "Sign up", :class => "btn btn-info"
