- config = Rails.configuration.rendezvous
.container.invoice
  .row
    .col-md-12.heading
      %h1.pull-left R#{Time.new.year} Registration
      .pull-right= image_tag('rendezvous-logo.png')
  .row
    .col-md-6.col-xs-12
      = render partial:  'common/registration_info' 

    .col-md-6.col-xs-12
      %section
        %h2 Modify Attendees
        = simple_form_for @event_registration, url:  admin_registration_path(@event_registration), method:  :put, id:  'registration_form' do |f|
          %h3 Attendees
          .row
            .col-md-12
              #attendees
                = f.simple_fields_for :attendees do |a|
                  = render partial:  '/registrations/attendee_fields', locals:  { f:  a }
                .links
                  = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, :attendees, class:  'btn btn-primary btn-sm', partial:  '/registrations/attendee_fields'
                  Add a guest
              %br
              %br
          .row
            .col-md-4
              .form-group
                %label Total adults:
                = f.input_field :number_of_adults, disabled:  true, class:  'calculated fee-calculation'
          .row
            .col-md-4
              .form-group
                %label Total seniors:
                = f.input_field :number_of_seniors, disabled:  true, class:  'calculated fee-calculation'          
          .row
            .col-md-4
              .form-group
                %label Total kids:
                = f.input_field :number_of_children, disabled:  true, class:  'calculated fee-calculation'

          .row
            .col-md-12
              %p.amount.bg-success.form-group
                %label Registration fee: $
                = f.input_field :registration_fee, disabled:  true, class:  'calculated'
          = f.button :submit, 'Update registration', class:  'btn btn-primary'
          
      %section
        %h2 Payment or Refund
        %p For credit card transactions, please process the payment or refund in the Braintree account. Note the transaction code and enter here.
        = simple_form_for @transaction, url:  admin_transactions_path do |f|
          .row
            .col-md-6.col-xs-12
              = f.input :transaction_type, collection:  [['Payment', 'payment'], ['Refund', 'refund']], selected:  'payment'
            .col-md-6.col-xs-12
              = f.input :transaction_method, collection:  config[:payment_methods].map { |m| [m.titlecase, m] }, prompt:  '-- Select payment method'
          .row
            .col-md-4.col-xs-12
              = f.input :amount, hint:  'Enter a positive amount. The transaction type will determine the sign.'
          .row
            .col-md-4.col-xs-12
              = f.input :cc_transaction_id, label:  'Credit card transaction ID', disabled:  true
          .row
            .col-md-12
              = hidden_field_tag :registration_id, @event_registration.id
              = f.button :submit, 'Update registration', class:  'btn btn-primary'
  

              
    
