.container
  .row
    .col-md-offset-3.col-md-6.mx-auto
      .card
        .card-body
          .card-title
            %h1.h2.page-title Sign In - Welcome!
          .card-text
            .get-sign-in-link 
              %h2.h4 Send me a login link
              %p Enter your email below to get your login link.

              = content_for :recaptcha_js do
                = include_recaptcha_js

              = form_with(url: request_login_link_path, method: :post) do |f|
                .form-group
                  = f.label :email
                  = f.email_field :email, autofocus: true, placeholder: "you@example.com", required: true, class: 'form-control'
                
                .actions
                  = f.submit "Get Link" , class: "btn btn-sm btn-info"
                  = recaptcha_execute('get_login_link')

              %p 
                Don't have an account yet?
                = link_to "Sign up", new_user_registration_path
            
            %hr

            %h2.h5 Wait, what?
            %p Since people don't log in more than once a year, we've dispensed with passwords and are using login links.

            %h2.h5 How does it work?
            %ul
              %li Enter your account email above.
              %li We'll send a link to that email account which will be good for 10 minutes
              %li  
                %em If you don't see the email in your inbox, please check your spam folder!
              %li As a security measure, we don't notify you if you've used an incorrect email.
              %li Click on the link and you'll be in like Flynn.

            %p
              NOTE: Some people are having problems logging in or registering. If you're not getting a login email, please check your spam folder. Otherwise, please use the 
              %a{ href: "/Rendezvous-registration-2024.pdf" } alternative registration form
              and send with payment to the indicated address.

 