.container#vendors
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h1 Supporting Vendors
      .well
        .name Dave Burnham
        .url
          = link_to 'www.DaveBurnhamCitroen.com', 'http://www.DaveBurnhamCitroen.com', :target => '_blank'
        .email
          = link_to 'info@daveburnhamcitroen.com', 'mailto://info@daveburnhamcitroen.com'
        .phone
          518-875-6956
        .address 
          559 Youngs Rd
          %br Delanson, NY 12053

      .well
        .name Kenji & Marion Yoshino
        .url
          = link_to 'www.2CVSource.com', 'http://www.2CVSource.com', :target => '_blank'
        .email
          = link_to 'info@2CVSource.com', 'mailto://info@2CVSource.com'
        .phone
          206-242-4888
        .address 
          17020 Sylvester Rd SW 
          %br Normandy Park, WA 98166

      .well
        .name Erik DeWidt - Classic Motorcars International
        .url
          = link_to 'www.ErikDeWidt.com', 'http://www.ErikDeWidt.com', :target => '_blank'
        .email
          = link_to 'erikdewidt@aol.com', 'mailto://erikdewidt@aol.com'
        .phone
          301-829-2695
        .address 
          PO Box 1087
          %br Mount Airy, MD, 21771

      .well
        .name Andre Pol - Citroen Andre & Partners 
        .url
          = link_to 'www.Citroen-Andre.com', 'http://www.Citroen-Andre.com', :target => '_blank'
        .email
          = link_to 'citroen@citroenandre.com', 'mailto://citroen@citroenandre.com'
        .phone
          011 (31) 165 505 919 (from the US)
        .address 
          Jochem Hendrikstraat 10
          %br 4741 SK Hoeven 
          %br THE NETHERLANDS

      .well
        .name Brad Nauss
        .url
          = link_to 'www.BradNauss.com', 'http://www.BradNauss.com', :target => '_blank'
        .email
          = link_to 'info@citparts@gmail.com', 'mailto://info@citparts@gmail.com'
        .phone
          717-691-8550
        .address 
          30 West Allen St, Upper Level
          %br Mechanicsburg, PA 17055

      .well
        .name Citroenvie - George Dyke
        .url
          = link_to 'www.Citroenvie.com', 'http://www.Citroenvie.com', :target => '_blank'
        .email
          = link_to 'gdyke@sympatico.ca', 'mailto://gdyke@sympatico.ca'
        .phone
          647-896-3202
        .address 
          49 Alabaster Drive
          %br Brampton, ON L6V 4G9 
          %br CANADA
