.nested-fields.well.well-sm
  .row
    .col-md-4.col-xs-12
      .form-group
        = f.input :year, :collection => [*1919..2015].reverse, :selected => 1960
  .row
    .col-md-4.col-xs-12
      .form-group
        = f.input :marque, :collection => marques, :selected => 'Citroen', :input_html => { :class => 'marque_select' }
    .col-md-4.col-xs-12
      .form-group
        = f.input :marque, :label => 'Other marque', :input_html => { :class => 'other_marque' }, :disabled => true
  .row
    .col-md-4.col-xs-12
      .form-group
        = f.input :model, :collection => models, :include_blank => '-- Select Citroën model --', :input_html => {:class => 'model_select'}
    .col-md-4.col-xs-12
      .form-group
        = f.input :model, :label => 'Other model', :input_html => { :class => 'other_model' }, :disabled => true
  .row
    .col-md-12
      .form-group
        = f.input :other_info, :input_html => { :placeholder => 'Distinguishing features, historical notes, etc.' }
  .row
    .col-md-12
      = link_to_remove_association '<i class="fa fa-minus" ></i> <i class="fa fa-car" ></i>'.html_safe, f, :class => 'btn btn-danger btn-sm'
      Remove this vehicle


