:javascript
  var appData = #{@app_data};
  braintree.setup(appData.clientToken, "custom", {
    id: 'new_rendezvous_registration',
    hostedFields: {
      number: {
        selector: '#card-number'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '3 or 4 digits'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: 'MM/YYYY'
      },
      styles: {
        "input": {
          "color": '#555',
          "font-size": '14px',
        }
      }
    }
  });
    
= javascript_include_tag 'braintree_transaction'  
.spacer
.container
  .row
    .col-md-offset-1.col-md-10.col-xs-12
      %h1 2016 Citroen Rendezvous Registration
      %p.bg-info 
        %strong The registration fee is $#{RendezvousRegistration.fees[:registration][:adult]} per adult (16+). Kids 15 and under are free!
      %p
        By registering for the Rendezvous, you will be setting up a user account on our server. 
      %p
        We process your credit card information securely but we do not save it.
      %p 
        This registration does not include accommodations. You can find accommodation information at the 
        = link_to 'Saratoga Springs Convention and Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', :target => '_blank'
        %br
        %br * = required
      = simple_form_for @rendezvous_registration do |f|
        %h2 Personal Information
        = f.simple_fields_for :user do |u|
          = render :partial => 'users/user_info', :locals => { :f => u }

        %h2 Registration Information
        %h3 Attendees
        #attendees
          = f.simple_fields_for :attendees do |a|
            = render :partial => 'attendee_fields', :locals => { :f => a }
          .links
            = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, :attendees, :class => 'btn btn-primary btn-sm'
        .row
          .col-md-4
            .form-group
              %label Adults:
              = f.input_field :number_of_adults, :disabled => true
        .row
          .col-md-4
            .form-group
              %label Kids:
              = f.input_field :number_of_children, :disabled => true

        .row
          .col-md-12
            %p Would you like to receive the Légion d'Honneur? Well, we can't do that, but your donations are truly appreciated!
            .form-group
              %label Donation
              = f.input :donation, :label => '', :collection => [ ['$10', '10'], ['$25', '25'], ['$50', '50'], ['$100', '100'], ['Other', 'other']], :as => :radio_buttons, :item_label_class => 'radio-inline', :item_wrapper_tag => false
            .form-group
              = text_field_tag :other_donation, nil, :placeholder => 'Other amount', :disabled => true
        .row
          .col-md-6.col-xs-12
            %p.amount.bg-success.form-group
              %label Total: $
              = f.input_field :amount, :disabled => true
        = f.input_field :year, :as => :hidden, :value => Time.new.year


        %h2 Payment Information
        .row
          .col-md-12
            .form-group
              = f.input :paid_method, :label => 'Payment method', :collection => [['I wish to pay by credit card now', 'credit card'], [' I wish to pay by check', 'check']], :as => :radio_buttons, :checked => 'credit card'
        .row
          .col-md-6.col-xs-12
            #payment-form
            .row
              .col-md-12
                .form-group
                  %label{ :for => 'card-number' } Card Number
                  #card-number.form-control
            .row
              .col-md-8            
                .form-group
                  %label{ :for => 'expiration-date' } Expiration Date
                  #expiration-date.form-control
              .col-md-4
                .form-group
                  %label{ :for => 'cvv' } CVV
                  #cvv.form-control
            .row
              .col-md-2
                .form-group
                  = f.button :submit, 'Register', :confirm => 'Are you sure?', :class => 'btn btn-primary'
  
          .col-md-offset-2.col-md-4.col-xs-12
            %p
              %strong Mailing address if paying by check:
              %br= mailing_address()