:javascript
  var appData = #{@app_data};
  braintree.setup(appData.clientToken, "custom", {
    id: 'new_rendezvous_registration',
    hostedFields: {
      number: {
        selector: '#card-number'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '3 or 4 digits'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: 'MM/YYYY'
      },
      styles: {
        "input": {
          "color": '#555',
          "font-size": '14px',
        }
      }
    }
  });
    
= javascript_include_tag 'braintree_transaction'  
.spacer
.container
  .row
    .col-md-offset-1.col-md-10.col-xs-12
      %h1 2016 Citroen Rendezvous Registration
      %p.bg-info
        %strong 
          By registering for the Rendezvous, you will be setting up a user account on our server. 
          %br We process your credit card information securely but we do not save it.
      %p 
        This registration does not include accommodations. You can find accommodation information at the 
        = link_to 'Saratoga Springs Convention and Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', :target => '_blank'
        %br
        %br * = required
      = simple_form_for @rendezvous_registration do |f|
        .well.well-md
          %h2 Personal Information
          = f.simple_fields_for :user do |u|
            = render :partial => 'users/user_info', :locals => { :f => u }

        .well.well-md
          %h2 Registration Information
          %p.bg-info The registration fees are $#{RendezvousRegistration.fees[:registration][:adult]} per adult and $#{RendezvousRegistration.fees[:registration][:child]} per child. 
          .row
            .col-md-4
              .form-group
                = f.input :number_of_adults, :collection => [1, 2, 3, 4, 5, 6, 7, 8], :selected => 1, :input_html => { :class => 'form-control'}
          .row
            .col-md-4
              .form-group
                = f.input :number_of_children, :collection => [1, 2, 3, 4, 5, 6, 7, 8], :include_blank => '-- No kids --', :input_html => {:class => 'form-control'}

          .row
            .col-md-6.col-xs-12
              %p.amount.bg-success.form-group
                %label Total: $
                = f.input_field :amount, :disabled => true
          = f.input_field :year, :as => :hidden, :value => Time.new.year
        .well.well-md
          %h2 Payment Information
          .row
            .col-md-12
              .form-group
                = f.input :paid_method, :label => 'Payment method', :collection => [['I wish to pay by credit card now', 'credit card'], [' I wish to pay by check', 'check']], :as => :radio_buttons, :checked => 'credit card'
          .row
            .col-md-6.col-xs-12
              #payment-form
              .row
                .col-md-12
                  .form-group
                    %label{ :for => 'card-number' } Card Number
                    #card-number.form-control
              .row
                .col-md-8            
                  .form-group
                    %label{ :for => 'expiration-date' } Expiration Date
                    #expiration-date.form-control
                .col-md-4
                  .form-group
                    %label{ :for => 'cvv' } CVV
                    #cvv.form-control
              .row
                .col-md-2
                  .form-group
                    = f.button :submit, 'Register', :confirm => 'Are you sure?', :class => 'btn btn-primary'
  
            .col-md-offset-2.col-md-4.col-xs-12
              %p
                %strong Mailing address if paying by check:
                %br= mailing_address()