.container
  .row
    = render :partial => 'common/registration_header', :locals => { :step => 'register' }
      #registration-form
        - if !user_signed_in?
          .cover
        = simple_form_for @rendezvous_registration, :id => 'rendezvous_registration_form' do |f|
          - if @create_by_admin
            = hidden_field_tag :creator, :value => 'omniscia'
          %section
            %h2 Personal Information
            %p * = required
            - if session[:admin_user]
              %p.bg-warning You are creating a registration for another user.
            - else
              %p.bg-info You are signed in with your user account.
            = f.simple_fields_for :user do |u|
              = render :partial => 'common/user_info', :locals => { :f => u, :user_fields => true, :address => true  }

          %section
            %h2 Registration Information
            %h3 Attendees
            %p.hint (Adults are 16 and up, children are 15 and under)
            .row
              .col-md-12
                #attendees
                  = f.simple_fields_for :attendees do |a|
                    = render :partial => 'attendee_fields', :locals => { :f => a }
                  .links
                    = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-male" ></i>'.html_safe, f, :attendees, :class => 'btn btn-primary btn-sm'
                    Add a person
                %br
                %br
            .row
              .col-md-4
                .form-group
                  %label Total adults:
                  = f.input_field :number_of_adults, :disabled => true, :class => 'calculated fee-calculation'
            .row
              .col-md-4
                .form-group
                  %label Total kids:
                  = f.input_field :number_of_children, :disabled => true, :class => 'calculated fee-calculation'

            .row
              .col-md-6.col-xs-12
                %p.amount.bg-success.form-group
                  %label Registration fee: $
                  = f.input_field :registration_fee, :disabled => true, :class => 'calculated'
            = f.input_field :year, :as => :hidden, :value => Time.new.year
            = f.input_field :status, :as => :hidden, :value => 'initiated'

          .row
            .col-md-12
              .form-group
                = f.button :submit, :input_html => { :value => 'Continue to payment <i class="fa fa-arrow-right">'.html_safe }, :class => 'btn btn-primary'

