- config = Rails.configuration.rendezvous
= render :partial => 'common/braintree_javascript'
.container
  .row
    .col-md-offset-1.col-md-10.col-xs-12
      %h1 #{Time.now.year} Registration
      = simple_form_for @rendezvous_registration, :url => complete_rendezvous_registration_path(@rendezvous_registration), :html => { :id => 'rendezvous_registration_form' } do |f|
        %section  
          %h2 Payment
          %section
            %h3 Help Out
            .row
              .col-md-12
                %p Would you like to receive the Légion d'Honneur? Well, we can't do that, but your donations are truly appreciated!
                .form-group
                  %label Donation
                  = f.input :donation, :label => false, :collection => donation_list(config[:suggested_donations]), :as => :radio_buttons, :input_html => { :class => 'total-calculation' }, :item_label_class => 'radio-inline', :item_wrapper_tag => false
                .row
                  .col-md-2
                    .form-group
                      = f.input :donation, :label => false, :input_html => { :placeholder => 'Other amount', :class => 'total-calculation'}, :disabled => true

                .row
                  .col-md-6.col-xs-12
                    %p.amount.bg-success.form-group
                      %label Total: $
                      = f.input_field :total, :value => @rendezvous_registration.total.to_s , :disabled => false, :class => 'calculated'
              %p You may pay by credit card or by check. We process your credit card information securely but we do not save it.
          %section
            %h2 Payment Information
            .row
              .col-md-6.col-xs-12
                .form-group
                  = f.input :paid_method, :label => 'Payment method', :collection => payment_options, :as => :radio_buttons, :checked => 'credit card', :input_html => { :class => 'payment' }
                = render :partial => 'common/credit_card_payment'
                = f.input_field :status, :as => :hidden, :value => 'complete'  
                #mailing-address.hidden
                  %p
                    %em You will be able to print your receipt once you complete the registration; it will also be emailed to you in PDF format. Please send it with a check payable to Citroen Rendezvous LLC to:
                    %p= rendezvous_mailing_address()
                  = f.input_field :status, :as => :hidden, :value => 'payment due'  
              .col-md-6.col-xs-12
                %p We take the security of your financial information seriously and have taken steps to ensure that the encryption of your sensitive information is as secure as possible.
                .ssl
                  = image_tag 'ssl-assurance.gif', :style => 'width: 100%;'
          %section
            - if !Rails.env = 'development'
              .row
                .col-md-12
                  .captcha
                    = recaptcha_tags
            .row
              .col-md-12
                .form-group
                  = f.button :submit, 'Complete Registration'.html_safe, :class => 'btn btn-primary'

