- config = Rails.configuration.rendezvous
.container
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h1  #{config[:dates][:year]} Citroen Rendezvous Registration
      %h2 #{config[:dates][:month]} #{config[:dates][:start]}&ndash;#{config[:dates][:end]}, Saratoga Springs, New York
      = render :partial => 'common/registration_progress', :locals => { :step => 'welcome' }
      .well.well-sm

        %p.bg-info 
          Your chauffeurs have decided to make a small increase to the registration fee this year. 
          We are doing this to ensure the long-term continuation of the Rendezvous. 
          We think you still get a lot of bang for your francs. We hope you agree. Thanks for your understanding.
          %br
          %br
          The registration fee is $#{config[:fees][:registration][:adult]} per adult (16+). Kids 15 and under are free! You may pay by credit card or by check.

        %p.bg-info 
          Your registration does not include accommodations. 
          %br 
            You can find accommodation information at the 
            = succeed '.' do
              = link_to 'Saratoga Springs Convention and Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', :target => '_blank'
        %p Registration consists of the following steps:
        %ol
          %li 
            Sign in
            %ul
              %li You have an account if you registered on line last year
              %li If you've forgotten your password, use the reset password form on the sign-in page
              %li You'll have an opportunity to sign up if you don't have an account
          %li Enter your registration information
          %li Review information and pay
          %li Tell us what vehicles you will be bringing to the Rendezvous
          
        %p 
          If you have problems registering, please
          = succeed '.' do
            = link_to 'let us know', root_path(:anchor => 'contact')
        %p.text-center
          %a.btn.btn-primary{ :href => user_signed_in? ? register_path : user_sign_in_path } Let's get started
        %hr{ :style => 'margin: 10px; border-top: 2px solid #999' }
        %h3.text-center.text-info OR
        %p.printed-form
          If you prefer not to register on line, or are having problems registering, please print this registration form and send it in with your registration fee payment:
          = link_to '<i class="fa  fa-file-pdf-o"></i>'.html_safe, 'Rendezvous-registration-form.pdf', :target => '_blank'

