.container-fluid
  .row
    .col-12
      %h1 Administrative Info

  .row
    .col-12
      %tab-display#dashboard{ data: { tabbed: true } }
        %ul{ data: { tab_buttons: true } }
          %li
            %button{ data: { tab: "summary" } } Summary
          %li
            %button{ data: { tab: "registrations" } } Registrations
          %li
            %button{ data: { tab: "users" } } Users
          %li
            %button{ data: { tab: "volunteers" } } Volunteer List
          %li
            %button{ data: { tab: "vehicles" } } Vehicles

        = render partial: '/admin/admin/dashboard/summary'
        = render partial: '/admin/admin/dashboard/registrations'
        = render partial: '/admin/admin/dashboard/users'
        = render partial: '/admin/admin/dashboard/volunteers'
        = render partial: '/admin/admin/dashboard/vehicles'
