.container-fluid
  .row
    .col-12
      %h1 Vehicle Dashboard

  .row
    .col-12
      .card
        .card-body
          .card-title
            %h1.h3 Manage QR Codes
          .card-text
            %h2.h4 Vehicle Codes
            %p There are #{@assigned_qr_codes} codes assigned to vehicles
            %p There are #{@vehicles_without_codes} vehicles without codes
            %p
              %strong Last generated: #{@last_generated}

            .navbar.nav.justify-content-start
              .nav-item.ml-3.button-with-spinner
                = link_to 'Generate Missing Vehicle Codes', generate_vehicle_codes_path({ all_vehicles: false, sync: false }), class: 'btn btn-info', data: { 'button-spinner' => 'Generating...', turbo: false }

              .nav-item.ml-3.button-with-spinner
                = link_to 'Generate Missing Vehicle Codes (sync)', generate_vehicle_codes_path({ all_vehicles: false, sync: true }), class: 'btn btn-warning', data: { 'button-spinner' => 'Generating...', turbo: false }

              .nav-item.ml-3.button-with-spinner
                = link_to 'Regenerate All Vehicle Codes', generate_vehicle_codes_path({ all_vehicles: true, sync: false }), class: 'btn btn-danger', data: { 'button-spinner' => 'Generating...', turbo: false }

              .nav-item.ml-3.button-with-spinner
                = link_to 'Regenerate All Vehicle Codes (sync)', generate_vehicle_codes_path({ all_vehicles: true, sync: true }), class: 'btn btn-danger', data: { 'button-spinner' => 'Generating...', turbo: false }


              .nav-item.ml-3
                = link_to 'Print dash placards', admin_print_path({item: 'placards'}), class: 'btn btn-primary'

            %h2.h4 Unassigned Codes
            %p There are #{@blank_qr_codes} unassigned codes
            .navbar.nav.justify-content-start
              .nav-item.ml-3.button-with-spinner
                = link_to 'Generate Unassigned Codes (default 30)', generate_unassigned_codes_path({ sync: true }), class: 'btn btn-info', data: { 'button-spinner' => 'Generating...', turbo: false }

              .nav-item.ml-3.button-with-spinner
                = link_to 'Generate Unassigned Codes (default 30, sync)', generate_unassigned_codes_path({ sync: true }), class: 'btn btn-warning', data: { 'button-spinner' => 'Generating...', turbo: false }

              .nav-item.ml-3
                = link_to 'Print blank dash placards', admin_print_path({item: 'blank_placards'}), class: 'btn btn-primary'

  .row
    .col-12
      %tab-display#dashboard{ data: { tabbed: true } }
        %ul{ data: { tab_buttons: true } }
          - @categorized_vehicles.each_with_index do |(category, vehicles), index|
            %li
              %button{ data: { tab: index } } #{category}

        - @categorized_vehicles.each_with_index do |(category, vehicles), index|
          .tab-content{ data: { tab_content: index } }
            .row
              .col-12
                .card
                  .card-body
                    .card-title
                      %h2 #{category}
                    .card-text
                      %table
                        %thead
                          %tr
                            %th Owner
                            %th Vehicle
                            %th Code
                            %th QR Image
                        %tbody
                          - vehicles.each do |v|
                            %tr
                              %td #{v.user.full_name}
                              %td #{v.year_marque_model}
                              - code = v&.qr_code&.code
                              - file_path = v.server_qr_file_path
                              - if code && file_path
                                %td= code
                                %td.pt-2.pb-2
                                  %div{style: 'padding: 5px 20px'}
                                    = image_tag qr_code_url(v.qr_code.code), {style: 'width: 150px; height: 150px;'}
                              - else
                                %td{ class: 'pt-2 pb-2', colspan: '2' } (no image yet)
