.selections
  - @selections.each do |category, vehicles|
    .category.alert.alert-warning.d-flex.justify-content-between
      %strong #{category} 
      -if vehicles.nil? || vehicles.length == 0
        .badge.badge-primary.ml-5 No selections
      - elsif vehicles.length == 3
        .badge.badge-warning.ml-5 Limit reached
    - unless vehicles.nil? 
      %ul.vehicles.list-unstyled
        - vehicles.each do |v|
          %li.alert.alert-info.ml-3.d-flex.align-items-center
            = form_with url: delete_vehicle_selection_path, method: :delete, data: { turbo: false }  do |f|
              = f.hidden_field :vehicle_id, value: v.id
              = f.hidden_field :ballot_id, value: @ballot.id
              = f.button type: :submit, class: 'btn' do 
                = icon(:delete, size: '24')
            #{v.year_marque_model} | #{v.user.full_name}

        