#voting-app{ "data-controller" => "voting"}
  = render partial: 'instructions'
  .card 
    .card-body 
      .card-title 
        %h2.h4.d-flex.justify-content-between.align-items-center 
          Enter selection
          =link_to icon(:info, size: '40'), '#', data: { turbo: 'false', toggle: 'modal', target: '#voting-instructions' }, class: 'btn-link text-info p-0 m-0'
      .card-text
        .card 
          .card-body 
            .card-text
              %ul.nav.nav-pills.mb-3{ id: 'voting-tabs', role: :tablist }
                %li.nav-item{ role: 'presentation' }
                  %button.nav-link.active{ id: 'scan-tab', 'data-toggle' => 'pill', 'data-target' => '#scan', type: :button, role: :tab, 'aria-controls' => 'scan', 'aria-selected' => true } SCAN
                %li.nav-item{ role: 'presentation' }
                  %button.nav-link{ id: 'type-in-tab', 'data-toggle' => 'pill', 'data-target'=> '#type-in', type: :button, role: :tab, 'aria-controls' => 'type-in', 'aria-selected' => true } TYPE IN

              = form_with url: turbo_vote_path, method: :post, data: { turbo_frame: "categories-content-frame", voting_target: "votingForm" } do |f|
                .tab-content
                  .tab-pane.active{ id: 'scan', role: 'tab-panel', 'aria-labelled-by' => 'scan-tab'}
        
                    #reader.mb-3{'data-voting-target' => 'reader'}

                  .tab-pane{ id: 'type-in', role: 'tab-panel', 'aria-labelled-by' => 'scan-tab'}
                    .form-group
                      %label Vehicle ID:
                      = f.text_field :code, id: "selection", class: 'form-control text-center', data: { voting_target: "selection" }
                      = f.hidden_field :ballot_id, value: ballot.id
                #vote-action-container{'data-voting-target' => 'voteActionContainer'}
                  .warning-wrapper{'data-voting-target' => 'warningWrapper'} 
                    .warning-info{'data-voting-target' => 'warningInfo'} 
                  .selection-wrapper{'data-voting-target' => 'selectionWrapper'} 
                    .selection-info{'data-voting-target' => 'selectionInfo'} 
                    
                    .text-center.d-flex.align-items-center.mt-4
                      = f.submit "Vote", id: 'vote-button', class: "btn btn-primary mr-3"
                      = link_to 'CANCEL', '#', 'data-voting-target' => 'cancel'
                  .error-wrapper{'data-voting-target' => 'errorWrapper'}
                    .error-info.mb-3{'data-voting-target' => 'errorInfo'} 
                    = link_to 'CLOSE', '#', 'data-voting-target' => 'cancel'

  %h2.h3 Your selections
  = render partial: 'selections', locals: { ballotId: ballot.id, selections: selections }   
