%voting-app{ data: { active: active_tab } }
  = render partial: 'modal'

  %tab-display{ data: { tabbed: true } }
    %ul{ data: { tab_buttons: true } }
      %li#vote.active
        %button{ data: { tab: "landing" } } Start
      %li#preview
        %button{ data: { tab: "vote" } } Vote
      %li#selections
        %button{ data: { tab: "selections" } } My Selections

    = render partial: 'tab_landing'
    = render partial: 'tab_vote'
    = render partial: 'tab_selections', locals: { selections: selections }

  = render partial: 'ballot_data'
