#voting-app{ "data-controller" => "voting"}
  .card 
    .card-body 
      .card-title People's Choice Voting
      .card-text
        %p Select the QR code with your phone camera
        %p If you prefer, enter the voting ID on the dash card
        %p The app will keep track of categories and let you know if you've voted for more than one vehicle in a category.
        

        #reader.mb-3{'data-voting-target' => 'reader'}

        = form_with url: "", method: :get, data: { turbo_frame: "categories-content" } do |f|
          %label Voting ID:
          = f.text_field :code, id: "selection", data: { voting_target: "selection" }
          = hidden_field_tag :id, ballot.id, data: { voting_target: "ballot" }
          = f.submit "Vote", data: { action: "submit->voting#updateAction" }, class: "btn btn-primary"

        .selection-wrapper
          .selection-info{'data-voting-target' => 'selectionInfo'} 

  %h2.h3 Your selections
  = render partial: 'selections', locals: { selections: selections }    