.card
  .card-body
    .card-text
      %p=link_to 'Back to vehicle dashboard', admin_vehicle_dashboard_path

      .alert-info.p-2.mb-2 Current electronic ballot count: #{@e_ballot_count}
      .alert-info.p-2.mb-3 Current paper ballot count: #{@paper_ballot_count}

.card
  .card-body
    .card-title
      Paper Ballot
    .card-text

      %p All you need to do is enter the code. The correct category will be assigned.

      = form_tag voting_ballots_path, data: { turbo: false }, method: :post do
        %ol
          - (1..@number_of_categories).each do
            .form-group
              %li= text_field_tag "code[]", nil, class: 'form-control', style: "text-transform: uppercase;"

        = submit_tag 'Enter', class: 'btn btn-primary'
