.container
  .row 
    .col-12
      %h1.h2 Peoples Choice Ballot
      %p You can select as many candidates in a category as you like, but you can not submit your ballot until you've narrowed it down to one per category.
 
      %voting-app{ "data-ballot-id" => @ballot.id }
        %p Select the QR code with your phone camera
        #reader
        %input{type: "text", id: "selection"}

        .selection-info      


.container 
  .row 
    .col-12 
      %h2.h3 View your choices
      .accordion
        - n = 0
        - @selections.each do |category, vehicles|
          - n += 1
          .accordion-item
            %h2.h3.accordion-header{ id: "heading-#{n.to_s}"}
              %button.accordion-button{ type: 'button', 'data-bs-toggle' => 'collapse', 'data-bs-target' => "#collapse-#{n}" }
                #{category} (#{vehicles.length})
            %div{ class: "collapse-#{n.to_s}"}
              - if vehicles.length > 1
                .alert.alert-warning 
                  You need to eliminate #{pluralalize(vehicles.length - 1, 'choice')}
              - vehicles.each do |v|
                 X #{v.year_marque_model} (#{v.user.full_name}, owner)
            

            