- config = Rails.configuration.rendezvous
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/

    %title Citroen Rendezvous Admin

    %link{ href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{ crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}
    
    :plain
      <link rel="preload" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:wght@600&display=swap" as: "style" />
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:wght@600&display=swap" media="print" onload="this.media='all'" />

    = stylesheet_link_tag 'vendor', 'application', "data-turbo-track": "reload"

    = csrf_meta_tags

    = javascript_include_tag 'application', defer: true
    = javascript_include_tag 'admin', defer: true

    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css'

    :javascript
      var appData = #{ActiveSupport::JSON.encode(@app_data).html_safe};

      function loadChartJs(callback) {
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/chart.js';
        script.onload = callback;
        document.head.appendChild(script);
      }

  %body{ class: controller_classes + " outfit-regular admin_layout", 'data-site-key' => get_recaptcha_key }
    = render partial: 'layouts/flash'

    %header
      .container
        .row.banner
          .col-12
            .navbar.navbar-banner.top-nav.justify-content-start
              .nav-item.site
                %h1.h4 
                  Admin
                  = link_to "Back to main site", root_path, class: 'btn btn-sm btn-primary'

      - if user_is_admin?
        = render partial: 'common/onsite_navbar'
      - else
        = render partial: 'common/site_nav_bar'

      = render partial: 'common/admin_manage'

    %main 
      .content
        = yield
      .push

    %footer.footer
      .container 
        .row.justify-content-center
          = render partial: 'common/footer'

    :javascript
      function addMde() {
        function adjustEditorHeight(editor) {
          var cm = editor.codemirror;
          var scrollHeight = cm.getScrollInfo().height;
          cm.getWrapperElement().style.height = Math.max(150, scrollHeight) + "px";
        }
        
        const textareas = document.querySelectorAll('textarea[id$="_simple_mde"]');
        textareas.forEach((textarea) => {
          simpleMDE = new SimpleMDE({
            element: textarea,
            spellChecker: false, // Optional, disable spellchecker if you don't want it
          });
          simpleMDE.codemirror.on("change", adjustEditorHeight);
          adjustEditorHeight(simpleMDE);
        });
      }

      if (!window.SimpleMDE) {
        document.addEventListener("DOMContentLoaded", () => {
          addMde();
        })
      } else {
        addMde();
      }


