!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/

    %title Citroen Rendezvous Admin

    %link{ href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{ crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}

    :plain
      <link rel="preload" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:wght@600&display=swap" as: "style" />
      <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:wght@600&display=swap" media="print" onload="this.media='all'" />

    = stylesheet_link_tag 'application', "data-turbo-track": "reload"

    = csrf_meta_tags

    = javascript_include_tag 'application', defer: true
    = javascript_include_tag 'admin', defer: true

    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css'

    :javascript
      const appData = #{ActiveSupport::JSON.encode(@app_data).html_safe};

      function loadChartJs(callback) {
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/chart.js';
        script.onload = callback;
        document.head.appendChild(script);
      }

  %body{ class: controller_classes + " outfit-regular admin_layout" }
    - if is_debug_date
      = render partial: 'layouts/debug'
    = render partial: 'layouts/flash'
    %header
      .container
        .row.banner
          .col-12
            .navbar.navbar-banner.top-nav.justify-content-start
              .nav-item.site
                %h1.h4
                  Admin
                  = link_to "Back to main site", root_path, class: 'btn btn-sm btn-primary'

      - if current_user.nil?
        = render partial: 'toolbars/logged_out_nav_bar'
      - else
        = render partial: 'toolbars/logged_in_nav_bar'

    %main
      .content
        .navbar.nav.justify-content-start
          .nav-item.ml-3=link_to 'Dashboard', admin_dashboard_path, class: 'btn btn-primary'
          .nav-item.ml-3=link_to 'Manage', admin_manage_path, class: 'btn btn-primary'
          .nav-item.ml-3=link_to 'User Management', admin_deletion_candidates_path, class: 'btn btn-primary'
        = yield
      .push

    %footer.footer
      .container
        .row.justify-content-center
          .col-sm-8.ml-3
            .card
              .card-body
                %p= active_users
                %p
                  %b Update Times
                %ul.list-group.list-group-horizontal
                  - public_asset_info.each do |asset, time|
                    %li.list-group-item
                      = asset.to_s.gsub('_', '.') + ':'
                      = time&.in_time_zone&.strftime('%l:%M%P | %b %-d')

        .row.justify-content-center
          = render partial: 'common/footer'
