- config = Rails.configuration.rendezvous
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A website for the northeast Citroen enthusiasts gathering", :name => "description"}/
    %meta{:content => "Citroen Rendezvous, LLC", :name => "author"}/

    - # Social metatags
    %meta{ :property => "fb:app_id", :content => '146487272381428' }
    %meta{ :property => "og:type", :content => 'website' }
    %meta{ :property => "og:site_name", :content => 'Citroen Rendezvous' }
    %meta{ :property => "og:url", :content => 'https://citroenrendezvous.org' }
    %meta{ :property => "og:title", :content => 'Citroen Rendezvous' }
    %meta{ :property => "og:description", :content => "The Northeast&#039;s largest gathering of Citroens and their fans, friends, and family." }
    %meta{ :property => "og:image", :content => 'https://citroenrendezvous.org/citroen-rendezvous-banner-2024.jpg' }
    %meta{ :property => "og:image:type", :content => 'image/jpeg' }
    %meta{ :property => "og:image:width", :content => '1200' }
    %meta{ :property => "og:image:height", :content => '699' }
    %meta{ :name => "twitter:card", :content => 'summary' }
    %meta{ :name => "twitter:title", :content => 'Citroen Rendezvous' }
    %meta{ :name => "twitter:url", :content => 'https://citroenrendezvous.org' }
    %meta{ :name => "twitter:description", :content => "The Northeast&#039;s largest gathering of Citroens and their fans, friends, and family." }
    %meta{ :name => "twitter:img:src", :content => 'https://citroenrendezvous.org/rendezvous-share-2021.jpg' }
    %meta{ :name => "twitter:img:width", :content => '1200' }
    %meta{ :name => "twitter:img:height", :content => '699' }

    %title #{Time.new.year} Citroen Rendezvous | The Northeast's largest gathering of Citroën owners, families, and fans
    = stylesheet_link_tag 'application', :media  => 'all'

    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Limelight&display=swap", rel: "stylesheet"}/
    
    = csrf_meta_tags

    = yield :recaptcha_js

    = javascript_include_tag 'application'

    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css'

    :javascript
      var appData = #{ActiveSupport::JSON.encode(@app_data).html_safe};

  %body{ class: "c_#{controller_path.gsub('/', '_')} fira-sans-regular" }
    = render partial: 'common/admin_manage'
    %header.bg-rendezvous
      .container
        .row.header-row
          .col-md-12
            %nav.navbar.navbar-dark.bg-rendezvous.navbar-expand-lg
              = link_to "Citroen Rendezvous<br />#{Time.now.year}", root_path, class: "navbar-brand"
              = image_tag "chevrons.png"
              %button.navbar-toggler{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarContent' }
                %span.navbar-toggler-icon

              .collapse.navbar-collapse#navbarContent
                %ul.navbar-nav.mr-auto
                  - if registration_live?
                    %li.nav-item
                      = link_to "Register for #{Time.now.year}", new_event_registration_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Info', root_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Photos', root_path(anchor: 'photos'), class: 'nav-link'
                  %li.nav-item
                    = link_to 'T-Shirt Gallery', t_shirt_gallery_path, class: 'nav-link'
                  - if !current_user
                    %li.nav-item
                      = link_to 'Sign In', new_user_session_path, class: 'nav-link'
                  - else
                    %li.nav-item.dropdown
                      %a.nav-link.dropdown-toggle#navbarDropdown{role: 'button', 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false"}
                        = current_user.full_name
                      .dropdown-menu{'aria-labelledBy' => 'navbarDropdown'}
                        = link_to 'View my info', user_path(current_user), class: 'dropdown-item'
                        .dropdown-divider
                        - if @event_registration
                          = link_to 'View my registration', event_registration_path(@event_registration), class: 'dropdown-item' 
                          = link_to 'Edit my vehicle(s)', update_vehicles_event_registration_path(@event_registration), class: 'dropdown-item'
                        - else 
                          = link_to  "Register", new_event_registration_path, class: 'dropdown-item'

      = render partial: 'common/user_manage'

      = render partial: 'layouts/flash'

      - if (current_registration)
        .registration-status
          .container
            .row
              .col-md-12.status
                = render partial: 'common/registration_status'
    %main 
      .content
        = yield
      .push

    %footer.footer.text-center
      = render partial: 'common/footer'

