- config = Rails.configuration.rendezvous
!!!
%html{ lang: 'en' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'UTF-8'}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ content: 'A website for the northeast Citroen enthusiasts gathering', name: 'description' }
    %meta{ content: 'Citroen Rendezvous, LLC', name: 'author' }

    %title #{@title} | #{Time.now.year} Citroën Rendezvous
    = stylesheet_link_tag 'application', :media  => 'all'
    
    = csrf_meta_tags

    = yield :head

    = javascript_include_tag 'application'

    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css'

    :javascript
      var appData = #{ActiveSupport::JSON.encode(@app_data).html_safe};

  %body{ class: "c_#{controller_path.gsub('/', '_')} simple" }
  
    .body_wrapper
      = render partial: 'common/manage'
      = render partial: 'layouts/flash'
      .back-bar
        %a{ href: root_path }
          %i.fa-solid.fa-arrow-left
          Back to main page
      - if (current_registration)
        .registration-status
          .container
            .row
              .col-md-12.status
                = render partial: 'common/registration_status'
      .content
        = yield
      .push
      = render partial: 'common/footer'

