
Dear #{@registration.user.first_name}

Here is your registration info (all fees in USD):

\-- Number of people: #{@registration.attendees.size}
\-- Number of people for the Friday lake cruise: #{@registration.lake_cruise_number}
\-- Total registration amount: #{number_to_currency(@registration.total)}
- if (@registration.donation? && !@registration.cancelled?)
    \-- Donation (thank you!): #{number_to_currency(@registration.donation)}
\-- Registration status: #{@registration.status.humanize}

- if !@registration.outstanding_balance?
    You have an outstanding balance of #{number_to_currency(@registration.balance)}
    Please send a check for that amount to:
    #{mailing_address "\n"}
- elsif @registration.refund_due?
    You are owed a refund of #{number_to_currency(-@registration.balance)}
    We will get in touch with you to discuss how you'd like to be refunded.

- unless @registration.cancelled?
    We look forward to seeing you at the Rendezvous!


If you need to cancel before #{Rails.configuration.registration[:refund_date]}, please email Tim at rendezvousLLC@kinnel.warpmail.net.
