
Dear #{@registration.user.first_name}

Here is your registration info (all fees in USD):

= render partial: 'basic_registration_info', locals: { reg: @registration }

- if !@registration.outstanding_balance?
    You have an outstanding balance of #{number_to_currency(@registration.balance)}
    Please send a check for that amount to:
    #{mailing_address "\n"}
- elsif @registration.refund_due?
    You are owed a refund of #{number_to_currency(-@registration.balance)}
    We will get in touch with you to discuss how you'd like to be refunded.

- unless @registration.cancelled?
    We look forward to seeing you at the Rendezvous!


If you need to cancel before #{Rails.configuration.registration[:refund_date]}, please email Tim at rendezvousLLC@kinnel.warpmail.net.
