!!!
%html{lang:  "en"}
  %body
    %div{ style:  "width: 600px;" }
      %p Dear #{@event_registration.user.first_name},
      %p Here is your registration info: 
      %ul
        %li Number of people: #{@event_registration.attendees.size}
        %li Total registration amount: #{number_to_currency(@event_registration.total)} (US)
        - if (@event_registration.donated? && !@event_registration.cancelled?)
          %li Donation (thank you!): #{number_to_currency(@event_registration.donation)} (US)
        %li Registration status: #{@event_registration.status}

      - if @event_registration.outstanding_balance?
        %p You have an outstanding balance of #{number_to_currency(@event_registration.balance)} (US)
        %p Please send a check for that amount to:
        %p #{mailing_address}
      - elsif @event_registration.owed_a_refund?
        %p You are owed a refund of #{number_to_currency(-@event_registration.balance)}
        %p We will get in touch with you to discuss how you'd like to be refunded.
      
      - unless @event_registration.cancelled?
        %p We look forward to seeing you at the Rendezvous!

    %div{ style:  "width: 600px; margin-top: 20px;border-top: solid 2px #ccc; padding-top: 20px;" }
      
