.user_info{'data-autocomplete' => "email"}
  .user_fields
    .row
      .col-md-12
        .form-group
          = f.input :email, label_html:  { class:  'sr-only' }, class:  'primary', placeholder:  'E-mail *', disabled:  false
          = f.input :id, as: :hidden, input_html: {'data-autocomplete-target' => ''}
        
    .row
      .col-md-12
        %h3 Personal Information
    .row
      .col-md-12
        %label Name
        .row
          .col-md-6.col-12
            .form-group
              = f.input :first_name, placeholder:  'First name *', input_html: {'data-autocomplete-target' => ''}
          .col-md-6.col-12
            .form-group
              = f.input :last_name, placeholder:  'Last name *', input_html: {'data-autocomplete-target' => ''} 

  .row
    .col-md-12
      %label Address
      -# .form-group
      -#   = f.input_field :address1, class:  'form-control', placeholder:  'Address 1'
      -# .form-group
      -#   = f.input_field :address2, class:  'form-control', placeholder:  'Address 2'
  .row
    .col-md-8.col-12
      .form-group
        %label City
        = f.input_field :city, class:  'form-control', placeholder:  'City *', 'data-autocomplete-target' => ''
    .col-md-4.col-12
      .form-group
        %label Zip/Postal Code
        = f.input_field :postal_code, class:  'form-control', placeholder:  'Zip/Postal Code *', 'data-autocomplete-target' => ''
  .row
    .col-md-6.col-12
      .form-group
        %label State/Province (US & Canada only)
        = f.input_field :state_or_province, collection:  state_province_list, as:  :grouped_select, group_method:  :last, include_blank:  '-- State/Prov (US/Can) --', class:  'form-control', 'data-autocomplete-target' => ''
    .col-md-6.col-12
      #country
        %label Country
        = f.input_field :country, collection:  country_list, as:  :select, :selected => 'USA', class:  'form-control', 'data-autocomplete-target' => ''

