.registration-progress
  %ul.list-inline
    %li{ :class => "step #{ registration_progress_indicator(step, 'welcome') }"} 
      Welcome
    %li
      %i.fa-solid.fa-caret-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'sign') }"} 
      Sign in
    %li
      %i.fa-solid.fa-caret-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'register') }"} 
      Register
    %li
      %i.fa-solid.fa-caret-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'review') }"} 
      Review
    %li
      %i.fa-solid.fa-caret-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'payment') }"} 
      Payment
    %li
      %i.fa-solid.fa-caret-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'vehicles') }"} Vehicles
   