.well.well-sm.registrant
  %p
    %b Registration number:
    #{@event_registration.invoice_number}
  %h3= @event_registration.user.full_name
  %p= @event_registration.user.email
  %p
    #{@event_registration.user.address1}
    - unless @event_registration.user.address2.blank?
      %br #{@event_registration.user.address2}
    %br #{@event_registration.user.city}, #{@event_registration.user.state_or_province} #{@event_registration.user.postal_code}
    #{@event_registration.user.country_name.upcase}


.well.well-sm.payment
  %h3 Fees
  .row
    .col-md-12
      %p
        %label Registration Status - #{@event_registration.status}
      %p
        %label Registration fee:
        #{number_to_currency(@event_registration.registration_fee)} (US)
        - if @event_registration.status != Rails.configuration.rendezvous[:registration_statuses][0]
          %br
          %label Donation:
          - if @event_registration.donation.blank?
            (no donation)
          - else
            #{number_to_currency(@event_registration.donation)} (US)
          %br
          %br
            %label Total:
            #{number_to_currency(@event_registration.total)} (US)

          - if !@event_registration.transactions.empty?
            %h4 Transactions
            %table.table
              %thead
                %tr
                  %th Transaction Type
                  %th Transaction Method
                  %th Credit Card Transaction ID
                  %th Amount
              %tbody
                - @event_registration.transactions.each do |transaction|
                  %tr
                    %td= transaction.transaction_type
                    %td= transaction.transaction_method
                    %td= transaction.cc_transaction_id
                    %td #{number_to_currency(transaction.amount)} (US)

          %strong
            %label Balance:
            #{number_to_currency(@event_registration.balance)} (US)
    - if (@event_registration.status == 'payment due')
      .col-md-6.col-xs-12
        %p
          Please print this invoice or the one you received via email and send with a check for the amount due to:
          %br= mailing_address

- if current_user == @event_registration.user
  .well.well-sm.attendees
    %h3 Attendees
    %table.table
      %thead
        %th Name
        %th Adult, Senior, or Child
        -# %th Sunday Dinner
        %th Volunteer
      %tbody
        -@event_registration.attendees.each do |a|
          %tr
            %td= a.name
            %td= a.attendee_age
            -# %td #{a.sunday_dinner? ? 'yes' : 'no'}
            %td #{a.volunteer? ? 'yes' : 'no'}

  .well.well-sm.vehicles
    %h3 Vehicles
    %p This is the vehicle information we have for you.
    - if @event_registration.status == 'complete' || @event_registration.status == 'payment due'
      %p 
        If you need to modify your vehicle info for this year,
        = link_to "update here", vehicles_event_registration_path(@event_registration)
    - else
      %p If you are bringing different vehicles, please update after you finish registering.
    - if @event_registration.user.vehicles.blank?
      %p You are not bringing any vehicles to the Rendezvous.
    - else
      %table.table
        %thead
          %th Marque
          %th Model
          %th Year
          %th Other info
          %th Judging category
        %tbody
          - @event_registration.user.vehicles.each do |v|
            %td= v.marque
            %td= v.model
            %td= v.year
            %td= v.other_info
            %td= v.judging_category

- if current_user.has_role? :admin   
  .well.well-sm.email
    %h3 Send registration info to registrant
    = link_to "Send Confirmation Email", send_email_event_registration_path(@event_registration), class: 'btn btn-sm btn-info'

