.registration-progress
  %ul.list-group.list-group-horizontal{ style: "align-items: center;"}
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'welcome') }"} 
      Welcome
    %li.separator
      %i.fa-solid.fa-caret-right
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'sign') }"} 
      Sign in
    %li.separator
      %i.fa-solid.fa-caret-right
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'register') }"} 
      Register
    %li.separator
      %i.fa-solid.fa-caret-right
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'review') }"} 
      Review
    %li.separator
      %i.fa-solid.fa-caret-right
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'payment') }"} 
      Payment
    %li.separator
      %i.fa-solid.fa-caret-right
    %li{ class:  "list-group-item #{ registration_progress_indicator(step, 'vehicles') }"} Vehicles
   