.container
  .row.justify-content-center
    .col-md-8.col-12
      .card
        .card-body
          .card-title
            %h3.h4= @registration.user.full_name
          .card-text
            %p
              Registration status:
              %em #{@registration.status.humanize}
              %br
              Payment status:
              %em #{@registration.payment_status.humanize}
            %hr
            %p Email: #{@registration.user.email}
            %p
              Address:
              %br
              #{@registration.user.address1}
              - unless @registration.user.address2.blank?
                %br #{@registration.user.address2}
              %br #{@registration.user.city}, #{@registration.user.state_or_province} #{@registration.user.postal_code}
              #{@registration.user.country_name.upcase}

            %p
              = link_to 'Help!', email_create_message_path(r_id: @registration.id, topic: :help), class: 'btn btn-sm btn-danger'

      .card
        .card-body
          .card-title
            %h3.h4 Attendees
          .card-text
            %table.table
              %thead
                %th Name
                %th Adult, Youth, or Child
                %th Volunteer
              %tbody
                -@registration.attendees.each do |a|
                  %tr
                    %td= a.name
                    %td= a.attendee_age
                    %td #{a.volunteer? ? 'yes' : 'no'}

      .card
        .card-body
          .card-title
            %h3.h4 Special Events
          .card-text
            %ul
              %li
                %h4.h5 Lake George Excursion
                - if @registration.lake_cruise_number > 0
                  %p Number going: #{@registration.lake_cruise_number}
                  %p Total fee: #{number_to_currency(@registration.lake_cruise_fee)}
                - else
                  %p Not going
            %ul
              %li
                %h4.h5 Post-Rendezvous Lunch at Shadow 66
                - if @registration.sunday_lunch_number > 0
                  %p Number going: #{@registration.sunday_lunch_number}
                - else
                  %p Not going

      .card
        .card-body
          .card-title
            %h3.h4 Fees (USD)
          .card-text
            %table.table-borderless.table.w-100
              %tr
                %th Registration fee (for attendees):
                %td.text-right #{number_to_currency(@registration.registration_fee)}
              %tr
                %th Lake George Excursion:
                %td.text-right #{number_to_currency(@registration.lake_cruise_fee)}

              - if @registration.complete?
                %tr
                  %th Donation:
                  %td.text-right
                    - if @registration.donation.blank?
                      (no donation)
                    - else
                      #{number_to_currency(@registration.donation)}
              - else
                %tr.border-top
                  %td{ colspan: 2 }
                    %p Optional donation to be completed in the payment step
              %tr.border-top
                %th Total:
                %td.text-right #{number_to_currency(@registration.total)}

              %tr
                %th Paid:
                %td.text-right #{number_to_currency(@registration.paid_amount)}

              %tr
                %th Outstanding Balance:
                %td.text-right #{number_to_currency(@registration.balance)}

            - if @registration.show_payment_button?
              %p
                =link_to 'Go To Payment', payment_event_registration_path(@registration), class: "btn btn-primary"
            - else
              %p
                If you wish to settle by credit card before the Rendezvous, please
                =link_to 'send Tim a message.', email_create_message_path(r_id: @registration.id)

      - if @registration.complete?
        .card
          .card-body
            .card-title
              %h3.h4 Vehicle(s) You Are Bringing
            .card-text
              %p
                You can update this by selecting from your name dropdown in the top nav bar.

              %table.table
                %thead
                  %th Marque
                  %th Model
                  %th Year
                  %th Other info
                  %th Judging category
                  %th For sale?
                %tbody
                  - @registration.vehicles.each do |v|
                    %tr
                      %td= v.marque
                      %td= v.model
                      %td= v.year
                      %td= v.other_info
                      %td= v.judging_category
                      %td= v.for_sale? ? 'Yes' : 'No'

      - if user_is_admin?
        .card
          .card-body
            .card-title
              %h3.h4 Email me my registration info
            .card-text
              = link_to "Send Email", send_confirmation_event_registration_path(@registration.id), class: "btn  btn-info"
