.container-fluid.px-0
  .row.no-gutters.bg-nav
    .col-12
      .container 
        .row
          .col-12
            %nav.nav.navbar.navbar-dark.navbar-expand-lg.bg-nav
              %button.navbar-toggler{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarContent' }
                %span.navbar-toggler-icon
              .collapse.navbar-collapse#navbarContent
                %ul.nav.navbar-nav
                  %li.nav-item
                    = link_to 'Info', root_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Schedule Overview', root_path + '#schedule-overview', class: 'nav-link'
                  %li.nav-item
                    = link_to 'Vendors', vendors_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'History', history_path, class: 'nav-link'
                  - if vehicles_for_sale > 0
                    %li.nav-item
                      = link_to "For Sale at the Event (#{vehicles_for_sale})", vehicles_for_sale_path, class: 'nav-link'
                  %li.nav-item
                    %span.badge.badge-danger Registration Coming Soon!
 
                  %ul.nav.navbar-nav.ml-auto
                    - if registration_is_open || user_is_tester?
                      - if !current_user
                        %li.nav-item
                          = link_to 'Sign In', new_user_session_path, class: 'nav-link'
                      - else
                        %li.nav-item.dropdown
                          %a.nav-link.dropdown-toggle#navbarDropdown{role: 'button', 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false"}
                            = current_user.full_name
                          .dropdown-menu{'aria-labelledBy' => 'navbarDropdown'}
                            = link_to 'View my info', user_path(current_user), class: 'dropdown-item'
                            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
                            .dropdown-divider
                            - if registration_complete
                              = link_to 'View my registration', event_registration_path(current_registration), class: 'dropdown-item'
                              = link_to 'View/edit my vehicle(s)', update_vehicles_event_registration_path(current_registration), class: 'dropdown-item'
                            - if !current_registration 
                              = link_to  "Register", new_event_registration_path, class: 'dropdown-item'
                            - if user_is_admin?
                              .dropdown-divider 
                              = link_to "Toggle Admin Bar", '#', class: 'dropdown-item toggle_admin_bar'