.container-fluid.px-0
  .row.no-gutters.bg-nav
    .col-12
      .container
        .row
          .col-12
            %nav.nav.navbar.navbar-dark.navbar-expand-lg.bg-nav
              %button.navbar-toggler{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarContent' }
                %span.navbar-toggler-icon
              .collapse.navbar-collapse.justify-content-between#navbarContent
                %ul.nav.navbar-nav
                  %li.nav-item
                    = link_to 'Home', root_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Schedule Overview', root_path + '#schedule-overview', class: 'nav-link'
                  %li.nav-item
                    = link_to 'Vendors', vendors_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Volunteering', volunteering_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Donate', new_donation_path, class: 'nav-link'                  
                  - if vehicles_for_sale > 0
                    %li.nav-item
                      = link_to "For Sale (#{vehicles_for_sale})", vehicles_for_sale_path, class: 'nav-link'
                  
                  -unless registration_is_open
                    %li.nav-item
                      %span.badge.badge-danger Registration Coming Soon!

                = render partial: 'common/user_nav'

