- config = Rails.configuration.rendezvous
.nested-fields.card
  .card-body
    .card-text
      .row
        .col-md-4.col-12
          .form-group
            = f.input :year, collection:  [*1919..2015].reverse, selected:  (f.object.year.blank? ? nil : f.object.year), include_blank:  '-- Select year --'
      .row.marques
        .col-12
        %table.table
          %thead
            %tr
              %th
                %label Marque
              %th
                %label Model
          %tbody
            %tr.selects
              %td
                .form-group
                  = select_tag :select_marque, options_for_select(marques), selected:  selected_marque(f.object), class:  'form-control select-sm marque'
              %td
                .form-group
                  = select_tag :select_model, options_for_select(citroen_models), include_blank:  '-- Select Citroën model --', selected:  selected_model(f.object), class:  'form-control select-sm model'
            %tr.fill-in
              %td
                .form-group
                  = text_field_tag :other_marque, nil, class:  'form-control  input-sm marque'
                  
              %td
                .form-group
                  = text_field_tag :other_model, nil, class:  'form-control input-sm model'
            %tr.real-values
              %td{ colspan: 2}
                = f.input :marque, as:  :hidden, value:  f.object.marque
                = f.input :model, as: :hidden, value: f.object.model
      .row
        .col-md-12
          .form-group
            = f.input :other_info, input_html:  { class: 'input-sm', placeholder:  'Unusual Citroen model, distinguishing features, historical notes, etc.' }

        .col-md-12
          %p We are offering the opportunity for you to let people know if your vehicle will be for sale at the Rendezvous. 
          = f.input :for_sale, as: :boolean, label: "This vehicle will be for sale"
      

    
          %br
          = link_to_remove_association '<i class="fa fa-minus" ></i> <i class="fa fa-car" ></i>'.html_safe, f, class:  'btn btn-danger '
          Remove this vehicle


