- config = Rails.configuration.rendezvous
.nested-fields.well.well-sm
  .row
    .col-md-4.col-xs-12
      .form-group
        = f.input :year, collection:  [*1919..2015].reverse, selected:  (f.object.year.blank? ? nil : f.object.year), include_blank:  '-- Select year --'
  .row
    .col-md-12
      .select-with-other.marques
        %label Marque
        .row
          .col-md-4.col-xs-12
            .form-group
              = select_tag :select_marque, options_for_select(marques), selected:  selected_marque(f.object), class:  'form-control'
          .col-md-4.col-xs-12
            .form-group
              = text_field_tag :other_marque, nil, label:  'Other marque', class:  'form-control', placeholder:  'Specify non-Citroen marque'
        = f.input :marque, as:  :hidden, value:  f.object.marque
  .row
    .col-md-12
      .select-with-other.models
        %label Model
        .row
          .col-md-4.col-xs-12
            .form-group
              = select_tag :select_model, options_for_select(models), include_blank:  '-- Select Citroën model --', selected:  selected_model(f.object), class:  'form-control'
          .col-md-4.col-xs-12
            .form-group
              = text_field_tag :other_model, nil, label:  'Other model', class:  'form-control', placeholder:  'Specify non-Citroen model'
        = f.input :model, as:  :hidden, value:  f.object.marque
  .row
    .col-md-12
      .form-group
        = f.input :other_info, input_html:  { placeholder:  'Unusual Citroen model, distinguishing features, historical notes, etc.' }
  .row
    .col-md-12
      .judging-category
        %label Judging Category:
        = f.object.judging_category
 
      %br
      = link_to_remove_association '<i class="fa fa-minus" ></i> <i class="fa fa-car" ></i>'.html_safe, f, class:  'btn btn-danger btn-sm'
      Remove this vehicle


