.container
  .row 
    .col-md-12
      %h1 Available Merchandise

      %p= link_to 'Create new item', new_commerce_merchandise_path

      - if @merchandise.empty?
        %p There is no merchandise. Click the link above to create some.

      - else
        %table.table
          %thead
            %tr
              %th
              %th Description
              %th Sale Price
              %th Unit Cost
              %th Size
              %th Starting Inventory
              %th Remaining
          %tbody
            - @merchandise.each do |item|
              - item.merchitems.each do |s|
                %tr
                  %td 
                    #{link_to 'edit', edit_commerce_merchandise_path(item)}
                  %td= item.description
                  %td= item.sale_price
                  %td= item.unit_cost
                  %td= s.size
                  %td= s.starting_inventory
                  %td= s.remaining
