.container
  .row 
    .col-md-offset-2.col-md-8
      %h1= @merchandise.description
      
      %p SKU:  #{@merchandise.sku}

      %p Sale price: #{@merchandise.sale_price}

      %p Unit cost: #{@merchandise.unit_cost}

      %ul
        - @merchandise.merchitems.each do |item|

          %li 
            Size: #{item.size}
            Starting Inventory: #{item.starting_inventory}
            Remaining: #{item.remaining}