%p#notice= notice

%p
  %b User:
  = @picture.user
%p
  %b Image:
  = @picture.image
%p
  %b Caption:
  = @picture.caption
%p
  %b Credit:
  = @picture.credit
%p
  %b Year:
  = @picture.year

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
