.container-fluid
  .row
    .col-12
      %h1 Administrative Info

  .row
    .col-12
      #tabbed
        %ul
          %li= link_to '<i class="fa fa-registered"></i> Registrations <i class="fa fa-sheet"></i>'.html_safe, '#tabbed-1'
          %li= link_to '<i class="fa fa-car"></i> Vehicles'.html_safe, '#tabbed-2'
          %li= link_to '<i class="fa fa-bullhorn"></i> Volunteer List'.html_safe, '#tabbed-3'
          %li= link_to '<i class="fa fa-table"></i> Summary <i class="fa fa-sheet"></i>'.html_safe, '#tabbed-5'
          %li= link_to "<i class=\"fa fa-female\"></i><i class=\"fa fa-male\"></i> Site Users #{@type}".html_safe, '#tabbed-6'
        #tabbed-1
          .row 
            .col-md-4
              = form_with url: admin_dashboard_path, method: :get do |f|
                - options = options_for_select( (Event::Registration.distinct.pluck(:year) + [Date.current.year.to_s]).uniq.sort.reverse, @year )
                .form-group
                  = f.label :year
                  = f.select :year, options, {}, { class:  'form-select' }
                .form-group
                  = f.submit 'Go', class:  "btn  btn-primary"
          
          %h2= "Registrations for #{@year}"
          %p Number of registrations: #{@event_registrations.size}

          %table.table.striped
            %thead
              %tr

                %th.text-center Actions
                %th.text-center Status
                %th Name
                %th.text-center Adults
                %th.text-center Children
                %th.text-center Fee
                %th.text-center Donation
                %th.text-center Total
                %th.text-center Paid
                %th.text-center Balance
            %tbody
              - @event_registrations.each do |registration|
                %tr{class:  'text-center' }
                  %td.text-left
                    %ul.list-unstyled
                      %li
                        = link_to 'View', event_registration_path(registration.id)
                      %li  
                        = link_to 'Edit', edit_event_registration_path(registration.id)
                      - if registration.status != 'complete'
                        %li
                          = link_to 'Review', review_event_registration_path(registration.id)
                        %li
                          = link_to 'Payment', payment_event_registration_path(registration.id)
                      %li
                        = link_to 'Cancel', event_cancel_registration_path(registration.id), data: { confirm: "Are you sure?" }
                      %li   
                        = link_to 'DELETE', event_delete_registration_path(registration.id), data: { confirm: "Are you sure?" }
                          
                  %td.text-center
                    = registration.status
                    .status-icon
                      %i{ class: get_status_icon(registration.status) } 
                  %td.text-left= link_to registration.user.last_name_first, user_path(registration.user)
                  %td.text-center= registration.number_of_adults
                  %td.text-center= registration.number_of_children
                  %td.text-right= number_to_currency(registration.registration_fee)
                  %td.text-right= number_to_currency(registration.donation)
                  %td.text-right= number_to_currency(registration.total)
                  %td.text-right= number_to_currency(registration.paid_amount)
                  - if registration.outstanding_balance?
                    %td.text-center.has-balance #{number_to_currency(registration.balance)}
                  - elsif registration.owed_a_refund?
                    %td.text-center.owed (#{number_to_currency(-registration.balance)})
                  - else 
                    %td.text-center #{number_to_currency(-registration.balance)}
        #tabbed-2
          %h2 Vehicles
          .card
            .card-body
              .card-title
                %h2 Summary
              .card-text
                - if @data
                  %p Number of Citroens: #{@data[:citroens].count}
                  %p Number of non-Citroens: #{@data[:non_citroens].count}
                - if @vehicles
                  %p Total: #{@vehicles.count}
                - else
                  %p No vehicles yet
          %table.table
            %thead
              %tr
                %th Judging Category
                %th Model
                %th Year
                %th Marque
                %th Other Info
                %th Registrant
            %tbody
              - unless @vehicles
                %p No vehicles yet.
              - else
                - @vehicles.each do |vehicle|
                  %tr
                    %td= vehicle.judging_category
                    %td= vehicle.model
                    %td= vehicle.year
                    %td= vehicle.marque
                    %td
                      %p= vehicle.other_info
                    %td= vehicle.user.full_name
        #tabbed-3
          .card 
            .card-body 
              .card-title
                %h2 Volunteer List
              .card-text
                - if @data
                  %p Total volunteers: #{@data[:volunteers][:number]}

          %table.table
            %thead
              %tr
                %th Name
                %th Email (of registered user)
              %tbody
                - if @data
                  - @data[:volunteers][:list].each do |volunteer|
                    %tr
                      %td= volunteer[:name]
                      %td= volunteer[:email]
        #tabbed-5
          .card
            .card-body
              .card-title
                %h2 Summary for #{Date.current.year}
              .card-text
                .row
                  .col-md-12
            .row
              .col-md-6.col-12
                .card
                  .card-body
                    .card-title
                      %h3 Financials
                    .card-text
                      - if @data
                        %table.table
                          %tbody
                            %tr
                              %td
                                %em  Registration fees
                              %td.text-right= number_to_currency(@data[:financials][:registration_fees])
                            %tr
                              %td
                                %em  Donations
                              %td.text-right= number_to_currency(@data[:financials][:donations])
                            %tr
                              %td
                                %em  Paid
                              %td.text-right= number_to_currency(@data[:financials][:paid])
                            %tr
                              %td
                                %em  Due
                              %td.text-right= number_to_currency(@data[:financials][:due])
                            %tr
                              %td
                                %em  Total
                              %td.text-right= number_to_currency(@data[:financials][:total])
                      %p
                        Square account:
                        = link_to '<i class="fa fa-bank"></i>'.html_safe, "https://app.squareup.com", target:  '_blank'

              .col-md-6.col-12
                .card
                  .card-body
                    .card-title
                      %h3 The Numbers
                    .card-text
                      - if @data
                        %table.table
                          %tbody
                            %tr
                              %td
                                %em  Registrations
                              %td.text-right= @data[:registrants].count
                            %tr
                              %td
                                %em  Attendees
                              %td.text-right
                                Adults: #{@data[:adult]}
                                %br
                                  Kids:   #{@data[:child]}
                            %tr
                              %td
                                %em  Volunteers
                              %td.text-right= @data[:volunteers][:number]
                            %tr
                              %td
                                %em  Vehicles
                              %td.text-right= @vehicles.count
                            %tr
                              %td{ colspan:  2 }
                                %p
                                  %em  Newbies
                                %p
                                  - @data[:newbies].each do |newbie|
                                    = newbie.full_name
                                    %br
        - if @users
          #tabbed-6
            %h2 Site Users #{@type}
            %p Number of users: #{@user_count}
            -# - if current_user.has_role? :superuser
            -#   %button{class: 'btn btn-danger delete_users'} DELETE checked users
            %table#user-table.table.tablesorter.striped
              %thead
                %tr
                  %th.tablesorter-header.filter-false User Roles
                  %th.last-name.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Last Name 
                  %th.first-name.tablesorter-header.filter-false First Name
                  %th.email.tablesorter-header.filter-parsed{'data-placeholder' => 'Search'} Email
                  %th.recaptcha-whitelisted.filter-false Recaptcha
                %tbody
                  %tr{role: 'search', class: 'tablesorter-filter-row tablesorter-ignoreRow'}
                    %td
                    %td{'data-column' => '0' }
                    %td
                    %td
                    %td
                  - @users.each do |user|
                    %tr
                      %td
                        - [:tester, :vendor, :admin].each do |role|
                          = check_box_tag role, '1', user.has_role?(role), "data-toggle" => ajax_toggle_role_path(user, role: role)
                          = label_tag role.to_s.titleize
                          %br                        

                      %td= link_to user.last_name, user_path(user)
                      %td= user.first_name
                      %td= user.email
                      %td
                        = check_box_tag :recaptcha_whitelisted,'1', user.recaptcha_whitelisted?, "data-toggle" => ajax_toggle_whitelist_path(user)
                        Whitelisted?

                          