.container 
  .row.justify-content-center 
    .col-md-8.col-12
      .card 
        .card-body 
          .card-title 
            %h1.h3 Peoples Choice Results
          .card-text
            - @results.each do |category, winners|
              %ul
                %li 
                  %strong #{category}
                  %ol
                    - winners.each do |vehicle|
                      %li
                        %p 
                          #{vehicle[0].year_marque_model} &mdash; #{vehicle[0].user.full_name}
                          %br
                          Votes: #{vehicle[1]}

            %h3.h4 Favorite of show
            - @favorite_of_show.each do |vehicle|
              %p #{vehicle.year_make_model} &mdash; #{vehicle.user.full_name}

