.container#vendors
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      %h1 FAQ
      .well.well-sm#help
        .question
          %p How can I help?
        .answer
          %p So glad you asked!
          %ul
            %li You can donate stuff to the silent auction. Details about how to do this will be forthcoming.
            %li 
              You can make a food pantry donation in honor of Gelseigh Cannon. Non-perishable food items collected will go to the
              = succeed '.' do
                = link_to 'Franklin Community Center', 'http://www.franklincommunitycenter.org/', :target => '_blank'
            %li You can sign up to volunteer when you register (or get in touch later).
            %li You can make a donation to the Rendezvous when you register. Or any time, really.
      .well.well-sm#accommodations
        .question
          %p Do you have any recommended accommodations?
        .answer
          %p
            The 
            = link_to 'Saratoga Springs Convention and Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', { :target => '_blank' }
            and various travel websites are excellent sources of information. That said, the following are close to the center of action at the Springs Motel (189 Broadway):
          %ul
            %li
              = succeed ',' do
                = link_to 'Carriage House Inn', 'httpd://CarriageHouseInnSaratoga.com', :target => '_blank'
              198 Broadway, 518-584-4220
            %li
              = succeed ',' do
                = link_to 'Holiday Inn', 'http://SaratogaHI.com', :target => '_blank'
              232 Braodway, 518-584-4550
            %li
              = succeed ',' do
                = link_to 'Turf & Spa', 'http://SaratogaTurfAndSpa.com', :target => '_blank'
              176 Broadway, 800-972-1229
            %li
              = succeed ',' do
                = link_to 'St. Francis Motel', 'http://StFrancisStCharlesMotels.com', :target => '_blank'
              188 Broadway, 518-584-2050
            %li
              = succeed ',' do
                = link_to 'St. Charles Motel', 'http://StFrancisStCharlesMotels.com', :target => '_blank'
              195 Broadway, 518-584-2050
      .well.well-sm#rally
        .question
          %p How does the Sunday rally/cruise/caravan work? Do I need to drive a Citroen?
        .answer
          %p Art Harvey, a Saratoga Springs local, will be leading the rally.
          %ul
            %li You can drive anything you want - no judgement.
            %li Starting point is the Springs Motel at 11am on Sunday. Please arrive at 10:30 for orientation.
            %li The drive will be at a leisurely pace on secondary roads.
            %li The plan is to drive hour or so, stretch legs, then another half hour to a lunch stop in Speculator.
            %li Several lunch venues in Speculator offer take-out, so we can lunch by the lake.
            %li After lunch, drive back to the Springs.
            %li Participants may drive any part of the route. For those who live to the north, Speculator is a good jumping off point.
