/ banner area starts here
%section#home.banner.text-center
  .container
    .row
      %h3 Saratoga Springs, New York
      %h1 June 16&ndash;19, 2016
      %p 
        The Northeast's fun and fabulous gathering of 
        %br Citroen owners, enthusiasts and friends
      = image_tag "40th-badge.png"
      %br/
      = link_to 'Register', register_path, :class => 'btn btn-primary btn-lg'
      - if !user_signed_in?
        = link_to 'Sign up/in', sign_up_or_in_path, :class => 'btn btn-primary btn-lg'
    .row
      .col-md-offset-4.col-md-4
        .connect.well.well-sm
          / Begin MailChimp Signup Form
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//citroenrendezvous.us12.list-manage.com/subscribe/post?u=198c738ff80668ca4d472c590&amp;id=9e696fe93f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                %label{:for => "mce-EMAIL"} Get Rendezvous updates
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Email address", :required => "", :type => "email", :value => ""}/
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_198c738ff80668ca4d472c590_9e696fe93f", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.btn.btn-info{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
          / End mc_embed_signup
          %p.facebook
            %i.fa.fa-facebook-square
            = link_to 'Check us out on Facebook!', 'https://www.facebook.com/groups/1796592930566951', :target => '_blank'
<!--End mc_embed_signup-->          
/ end of banner section
/ about section
%section#schedule.about.text-center
  .container
    .row
      .col-md-8.col-md-offset-2.about-heading
        %h2.main-heading
          Schedule
        = image_tag "chevrons.png"
        %p
          This is a tentative overview activity schedule, based on previous years. There's a new organizing group in town, and we're reviewing the activities, so this is subject to change (but we intend to keep favorites!) and more details will be available later.
      .col-md-3.single-about.col-xs-12.col-sm-4
        .about-inside
          %i.fa.fa-road
          %h3 Thursday
          %ul.text-left
            %li 
              %strong 6-9pm
              Dinner, Mama Mia's
      .col-md-3.single-about.col-xs-12.col-sm-4
        .about-inside
          %i.fa.fa-automobile
          %h3 Friday
          %ul.text-left
            %li 
              %strong 2-4pm
              Ice cream social, location TBD
            %li 
              %strong 6-8pm
              Rendezvous 2016 Welcome poolside reception and pizza party, Springs Motel
      .col-md-3.single-about.col-xs-12.col-sm-4
        .about-inside
          %i.fa.fa-automobile
          %h3 Saturday
          %ul.text-left
            %li 
              %strong 9am-4pm
              Showfield is open, including vendors! Lakeside Farms (Ballston Spa)
            %li 
              %strong 4-5:30pm
              Downtime: RELAX!
            %li 
              %strong 5:30-6:00pm
              Silent auction perusal and 50-50 raffle
            %li 
              %strong 6-8pm
              Banquet dinner
            %li 
              %strong 8pm
              Auction results, raffle winner, and People's Choice awards!
      .col-md-3.single-about.col-xs-12.col-sm-4
        .about-inside
          %i.fa.fa-road
          %h3 Sunday
          %ul.text-left
            %li 
              %strong 8:30-11:30am
              Continental breakfast and People's Choice award winners viewing, Springs Motel
            %li 
              %strong 11:30am
              Rally (more like a convoy, really, since no stopwatches are involved). Vehicle hopping encouraged!
            %li 
              %strong 5pm - PJ's Bar-B-QSA dinner, Springs Motel
/ end of about section
/ service section
%section#info.service.text-left
  .container
    .row
      .col-md-5.col-sm-5.col-xs-5
        %h2.main-heading Info
        = image_tag "chevrons.png"
        %p          
          The Citroen Rendezvous is the largest gathering of Citroens in North America, taking place annually on Father's Day weekend in Saratoga Springs, NY.  It is the people who make the event special. Friends, family, and other enthusiasts are warmly welcomed, as are other French, European, and just plain quirky cars.
      .col-md-12.services
        .col-md-3.single-service.col-xs-12
          %i.fa.fa-hotel
          %h3 Accommodations
          %p 
            The Springs Motel at 189 Broadway is the center of Rendezvous action when not at the show field. The Springs is usually booked by now, but Saratoga Springs is well known as a vacation destination and has a wealth of places to stay. Just remember that June is high season, so book early; let the
            = link_to 'convention and tourism bureau', 'http://discoversaratoga.org/saratoga/lodging', { :target => '_blank' }
            be your guide, or use your favorite travel website.
        .col-md-3.single-service.col-xs-12
          %i.fa.fa-shopping-cart
          %h3 Supporting Vendors
          %p 
            We couldn't put on the Rendezvous (nor could we keep our cars going) without our
            = link_to 'friendly and knowledgeable supporting vendors', '/vendors'
      .col-md-12.services.bottom-services
        .col-md-3.single-service.col-xs-12
          %i.fa.fa-calendar
          %h3 History
          %p 
            Lance Hellmann, one of the original organizers of the Rendezvous has kindly written a 
            = link_to 'charming little history', '/history'
            of the event, edited for this site by David Cossitt-Levy. Enjoy!
        .col-md-3.single-service.col-xs-12
          %i.fa.fa-empire
          %h3 Organization
          %p 
            The Rendezvous is run by volunteers, with a small group of 
            %em chauffeurs  
            at the wheel organizing things and making sure all the details are in place to host a fun-filled event. If you are 
            interested in volunteering during the event, 
            by all means get in touch with us using the 
            = link_to 'contact form at the bottom of this page.',  '/#sec5' 
          %p 
            Your 
            %em chauffeurs: 
            Michaela Hellman, David Cossitt-Levy, Chris "Toaph" Brown, and Tim Kinnel.
/ about section ends
/ portfolio section
%section#photos.portfolio.text-center
  .row.portfolio-row
    .portfolio-heading
      %h2.main-heading Photos
      = image_tag "chevrons.png"
      %p
        The best things about the Rendezvous are the cars and the people!
    - if @pictures.count == 8 
      - @pictures.each do |pic|
        .col-md-3.single-portfolio.col-sm-6
          %figure.portfolio-item
            = image_tag pic.image.portfolio.url + @cache_buster, :class => 'img-responsive'
            %figcaption.portfolio-details
              %h4= pic.caption
              %p= pic.credit
          %a{:href => pic.image.url}
            %i.fa.fa-search
    - else
      - (1..8).each do |n|
        .col-md-3.single-portfolio.col-sm-6
          %figure.portfolio-item
            = image_tag "portfolio#{n}.jpg", :class => 'img-responsive'
            %figcaption.portfolio-details
              %h4 Photo #{n}
              %p Placeholder photo
          %a{:href => "portfolio#{n}.jpg"}
            %i.fa.fa-search
/ end of portfolio section
%section#contact.contact.text-center
  .container
    .row
      %article.contact-heading
        %h2.main-heading Contact us
        = image_tag "chevrons.png"
        %p
          -#
            Please register using the 
            %a{ :href => '/registration', :title => 'Go to registration form' } online registration form. 
            %br/
          If you have any questions that haven't been answered here, please let us know!
/ end of contact section
%section.contact-form
  .container
    .row
      .form
        .sbtn.col-md-12.text-center
          = form_tag "/contact-us" do
            = text_field_tag 'name', nil, :class => 'name form-input', :placeholder => "NAME"
            = email_field_tag 'email', nil, :class => 'email form-input', :placeholder => "EMAIL"
            = text_field_tag 'message', nil, :class => 'message form-input', :placeholder => "MESSAGE"
            - if Rails.env != 'development'
              .captcha
                = recaptcha_tags
            = submit_tag 'SEND', :class => 'submit-btn', :disabled => true