.container
  .row
    .col-md-offset-2.col-md-8.col-xs-12.heading
      %h1.pull-left Rendezvous Schedule
      .pull-right= image_tag('rendezvous-logo.png')    
  .row
    .col-md-offset-2.col-md-8.col-xs-12
      .day.well.well-sm
        %h2 Thursday, #{config[:dates][:month]} 16th
        .event
          .title 
            6pm&ndash;9pm Dinner, 
            =link_to "Mama Mia's Pizza & Cafe", 'http://mamamiassaratoga.com', :target => '_blank'
          .details
            %p 185 Ballston Ave., Saratoga Springs, 518-583-7783
            %p
              For the diehards who just can't wait for the weekend to begin! Join us at Mama Mia's on Ballston Ave. where the organizers, vendors and diehard attendees gather for the unofficial start to the fun. After a long drive, it's the perfect way to settle in and recharge the battery for the festive weekend ahead. Please call ahead to reserve a table!
            %p.hint Note: This is the only dinner <strong>not</strong> included as part of your registration.
      .day.well.well-sm
        %h2 Friday, #{config[:dates][:month]} 17th
        .event
          .title 
            1&ndash;2pm Steam launch demonstration (i.e. boat)
          .details
            %p Saratoga Lake State Boat Launch, North end of Lake on NY-9P Saratoga Springs
            %p
              Come see a demonstration of an old-time steam launch, actually in the water!
        .event
          .title 
            2&ndash;4pm Ice cream social, 
            = link_to "Furlong’s Family Fun", 'http://www.furlongsfamilyfun.com/', :target => '_blank'
          .details
            %p 588 Lake Ave. (Rte 29E), Saratoga Springs
            %p
              I scream, you scream, we all scream for ice cream! Whether you hit town on Thursday or just rolled in, stop by Furlong’s Family Fun for a FREE scoop of your favorite flavor. Just tell the Furlong’s crew you are with the Citroën group. Wander the parking lot and catch up with old friends & their rides. Just try not to drip any ice cream on the cars! For those that have prepaid their registrations, you can pick up your registration pack here, too.
        .event
          .title 
            6&ndash;8pm Poolside reception & pizza party at the 
            = link_to 'Springs Motel', 'http://www.springsmotel.com/', :target => '_blank'
          .details
            %p 189 Broadway, Saratoga Springs
            %p
              Every year, the Springs Motel is overrun with Citroens & their owners. R16 will continue the tradition of having the official Rendezvous kick-off in the Springs Motel parking lot which serves as Rendezvous HQ for the weekend. Come get your welcome registration packet, grab some pizza (including gluten free) along with a beverage and celebrate another year of friendship and fun.
      .day.well.well-sm
        %h2 Saturday, #{config[:dates][:month]} 18th&mdash;The big day!
        .event
          .title 7&ndash;9am Show field setup
          .details
            %p No early-birds, vendors and volunteers only, please! 
        .event
          .title 9am&ndash;4pm The show field is OPEN!
          .details
            %p 
              After parking and getting your windshield placard secured, you should:
            %ul
              %li Grab a complimentary breakfast bite and coffee at the big tent!
              %li 
                Admire
                = succeed '!' do
                  %em les voitures
              %li Mark and turn in your People's Choice ballot!
              %li Support our Rendezvous vendors! 
              %li Enjoy the dulcet tones of Norma and Peggy serenading us with their accordions!
              %li 1pm-3:30pm Airborne chaos! The artful juggling of Susan and Joe - what will they toss up this year?
            
            %p 
              %strong Hunger pangs?
              %br
              Visit the 
              = succeed ', ' do
                = link_to 'Lakeside Country Market & Restaurant', 'http://www.lakesidefarmscidermill.com/', :target => '_blank' 
              right on site. Soups, salads, & sandwiches, burgers & hot dogs are all available at the restaurant while the market has lots of light snacks.
        .event
          .title 4&ndash;5:30pm Downtime
          .details
            %p  Relax, catch a nap, explore
        .event
          .title 5:30&ndash;8pm Silent auction and 50/50 raffle
          .details
            %p  You've got to play to win! The silent auction brings in dozens of intriguing items - take something home with you and support the Rendezvous!
        .event
          .title 6&ndash;8pm Banquet dinner
          .details
            %p Provided by the friendly folks at Lakeside Farms. The strawberry shortcake is a treat-and a-half!
        .event
          .title 8pm The People's Choice Awards, plus winners of the auction and raffle

      .day.well.well-sm
        %h2 Sunday, #{config[:dates][:month]} 19th
        .event
          .title 8:30am Continental breakfast at the Springs
          .details
            %p Come view the People's Choice winners, with coffee and a light breakfast in hand. No spills, please!
        .event
          .title 
            11:00am&ndash;2 or 3pm Rally (genteel and relaxed)
          .details
            &nbsp;&nbsp;Springs Motel
            .fa.fa-arrow-right 
            Speculator
            .fa.fa-arrow-right 
            Springs Motel
            %p
              Art Harvey is our local leader, who's laid out a scenic route through the area. We'll break for lunch in Speculator. Vehicle hopping encouraged! No judgement re marque or country of origin! 
        .event
          .title 
            Post-rally until 5pm Downtime
        .event
          .title 
            5pm - "The Last Supper", Springs Motel with food from 
            = link_to "PJ's B-B-QSA", 'http://pjsbarbqsa.com/', :target => '_blank'
          .details
            %p The final opportunity for a relaxed dinner with Citroen-style socializing... until #{Time.now.year + 1}!
