.container
  .row
    .col-md-offset-3.col-md-6
      %hr
      .card
        .card-body
          .card-title
            %h2 Create a User
          .card-text
            %p We're glad you could join us! 
            %p This site uses email login links, so you will not need a password.
            %p 
              If you already have an account, please
              %a{ href: new_user_session_path } sign in here.

            = content_for :recaptcha_js do
              = include_recaptcha_js

            = form_for(resource, url: user_registration_path, method: :post) do |f|
              .form-group
                = f.label :email, nil, class: 'required'
                %br/
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail', value: @email, required: true
              
              .form-group
                = f.label "Name", nil, class: 'required'
                %br/
                = f.text_field :first_name, class: 'form-control inline-form-element', placeholder: 'First', required: true
                = f.text_field :last_name, class: 'form-control inline-form-element', placeholder: 'Last', required: true
              
              .form-group
                = f.hidden_field :password, class: 'form-control primary', value: @password, required: true
                = f.hidden_field :password_confirmation, class: 'form-control confirm', value: @password, hidden: true, required: true  

              .actions
                = f.submit "Create", class: "btn  btn-info"
                = recaptcha_execute('register_user')
