.form-group
  = f.input :name
.form-group
  = f.input :day, collection: day_options, selected: f.object.day, include_blank: '-- Select day --'
.form-group
  = f.input :time, placeholder: 'Hour range or string'
.form-group
  - if !venue_options.empty?
    = f.input :venue_id, collection: venue_options, include_blank: '-- Select venue --', selected: f.object.venue_id, class: 'form-select'
  - else
    %p No venue options are available
.form-group 
  = f.input :short_description, as: :simple_mde
.form-group
  = f.input :long_description, as: :simple_mde
%br

