.container#scheduled_events
  .row.justify-content-center
    .col-md-10
      %h1 Manage Scheduled Events
    .col-md-8
      %h2 Creating
      %p
        =link_to "Create new", new_scheduled_event_path, class: "btn btn-sm btn-primary"
      %p
        =link_to "Import from CSV", scheduled_events_import_path, class: "btn btn-sm btn-warning"

      %h2 Ordering
      %table.table
        %tbody.sortable
          - @scheduled_events.each_with_sortable_id do |scheduled_event, sortable_id|
            %tr{id: sortable_id}
              %td
                = bootstrap_icon 'list'
              %td= scheduled_event.day
              %td= scheduled_event.time
              %td= scheduled_event.name 
    .col-md-10
      %h2 Editing
      - @scheduled_events.each do |scheduled_event|
        .card 
          .card-body 
            .card-text
              = simple_form_for scheduled_event do |f|
                = render partial:  'scheduled_event_fields', locals: { f: f }
                %br
                .form-group
                  = f.button :submit, input_html:  { value:  'Update Content' }, class:  "btn btn-sm btn-primary"

:javascript
  $(function() {
    $('.sortable').railsSortable();
  });
    


              