.container 
  .row.justify-content-center
    .col-md-8
      .card
        .card-body 
          .card-text
            %h1.h3 Manage Site Settings
            = simple_form_for @instance, url: config_site_settings_update_path, method: :post do |f|
              .form-group
                = f.input :voting_on
              .form-group
                = f.input :registration_is_open, as: :boolean
              .form-group
                = f.input :registration_fee
              .form-group
                = f.input :vendor_fee
              .form-group
                = f.input :opening_day, as: :date
              .form-group
                = f.input :days_duration
              .form-group
                = f.input :refund_date, as: :date
              .form-group
                = f.input :registration_close_date, as: :date    
              .form-group
                = f.input :user_testing, as: :boolean
              .form_group 
                = f.input :square_environment, as: :select, collection: ['SANDBOX', 'PROD'], label: 'Select Square Environment', include_blank: '-- Default is SANDBOX --'               
              .form-group 
                = f.submit 'Save Settings'