  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'

= form_for @picture do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picture.errors.count, "error")} prohibited this picture from being saved:"
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :caption
    = f.text_field :caption
  .field
    = f.label :credit
    = f.text_field :credit
  .field
    = f.label :year
    = f.number_field :year
  .actions
    = f.submit 'Save'
