.form-group
  = f.input :name
.form-group
  = f.input :owner_id, collection: User.with_role(:vendor), label_method: :email, value_method: :id, label: "Owner" 
.form-group 
  = f.input :phone
.form-group 
  = f.input :email
.form-group 
  = f.input :website
.form-group 
  = f.input :address, as: :simple_mde, style: "max-height: 4em;"

