.container#vendors
  .row.justify-content-center
    .col-md-8
      %h1.page-title Supporting Vendors
      - if @vendors.empty?
        %p No vendors listed at the moment 
      - else
        - @vendors.each do |vendor|
          .card
            .card-body
              .card-title
                %h2.h3= vendor.name
              .card-text
                %table.table
                  - if owner_name(vendor)
                    %tr
                      %td= icon(:vendor)
                      %td= owner_name(vendor)                   
                  - if vendor.website.present?
                    %tr
                      %td= icon(:website)
                      %td= link_to vendor.website, vendor.website, target:  '_blank'
                  - if vendor.email.present?
                    %tr
                      %td= icon(:email)
                      %td= link_to vendor.email, "mailto://#{vendor.email}"
                  - if vendor.phone.present?      
                    %tr
                      %td= icon(:phone)
                      %td= link_to vendor.phone, "tel://#{vendor.phone}"
                  - if vendor.address.present?
                    %tr
                      %td= icon(:address)
                      %td= vendor.address_as_html


             