.container#vendors
  .row.justify-content-center
    .col-md-6
      %h1 Supporting Vendors
      - if @vendors.empty?
        %p No vendors listed at the moment 
      - else
        - @vendors.each do |vendor|
          .card
            .card-body
              .card-title
                .name 
                  #{vendor.name}
              .card-text
                .url
                  Website: 
                  = link_to vendor.website, vendor.website, target:  '_blank'
                .email
                  Email:
                  = link_to vendor.email, "mailto://#{vendor.email}"
                .phone
                  Phone: #{vendor.phone}
                .address
                  Address:
                  %br 
                  = vendor.address_as_html

             