- config = Rails.configuration.rendezvous
/ banner area starts here
%section.banner
  .container-fluid
    .row.justify-content-center.align-items-center{style: "min-height: 400px;"}
      .col-lg-4
        %h1.h2 #{event_dates}
        %h2.h3 Saratoga Springs, New York
        %p
          Stay tuned for #{event_year} info:
          %br
          %a{ href: "https://www.facebook.com/groups/1796592930566951/", target: "_blank" } Connect on Facebook
          %br
          %a{ href: "https://citroenvie.com/", target: "_blank" } Check out CITROËNVIE!

        %section#status
        - if in_registration_window?  
          %h2.registration_open 
            Registration is open for #{Time.now.year}!
        - elsif after_rendezvous? 
          %h2.registration_closed
            Thanks for a great Rendezvous! See you next year!  
        - else  
          %h2.registration_closed
            Online registration is now closed. Please register at the event.

%section#schedule
  .container
    .row.justify-content-center
      .col-12
        .card 
          .card-body 
            .card-title
              %h2.h3 #{event_year} Accommodations
            .card-text.col-md-10
              .description 
                %p Somehow description will be here.
              %p
                While rooms last, you can reserve on line at our group rate
                = link_to 'here', @event_hotel.reservation_url
                or use group code #{@event_hotel.group_code}
                by #{@event_hotel.close_date}}.
                %br
            
    .row.justify-content-center.background-color
      .col-12
        %h2.h3.no-card Schedule Overview
        .card-group
          - @events_by_day.each do |day, events|
            .col-12.col-lg-4
              .card
                .card-body
                  .card-title.text-center
                    %h3 #{day}
                    %i.fa-solid.fa-route
                  .card-text
                    %ul.list-group
                      - events.each do |event|
                        %li.list-group-item
                          %p
                            %strong #{event.time}
                          %p= event.name
                          .description
                            = event.short_description.as_html if event.short_description
/ service section
%section#info
  .container
    .row.justify-content-center
      .col-lg-10
        .card 
          .card-body 
            .card-title
              %h3.h4 Alternative Accommodations
            .card-text
              %p Keep in mind that the Rendezvous happens in high season in Saratoga Springs
              %ul
                %li= link_to 'Airbnb.com', 'https://www.airbnb.com/saratoga-springs-ny/stays', { target: '_blank' }
                %li= link_to 'Kayak', 'https://www.kayak.com/', { target: '_blank' }
                %li= link_to 'Expedia', 'https://www.expedia.com/', { target: '_blank' }
                %li 
                  Check with the 
                  = link_to 'Saratoga Springs Convention & Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', { target: '_blank' }

        .card 
          .card-body 
            .card-title
              %h3.h4 Supporting Vendors
            .card-text
              %p
                We couldn't put on the Rendezvous (nor could we keep our cars going) without our
                = link_to 'friendly and knowledgeable supporting vendors', vendors_path

        .card 
          .card-body 
            .card-title
              %h3 History
            .card-text
              %p
                Lance Hellmann, one of the original organizers of the Rendezvous has kindly written a
                = link_to 'charming little history', '/history'
                of the event, edited for this site by David Cossitt-Levy. Enjoy!

        .card 
          .card-body 
            .card-title
              %h3.h4 Organization
            .card-text
              %p
                %em Volunteers wanted!
              %p
                The Rendezvous is run by volunteers, with a small group of
                %em chauffeurs
                at the wheel organizing things and making sure all the details are in place for a safe and fun-filled event. If you are
                interested in volunteering, by all means get in touch with us using the
                = link_to 'contact form at the bottom of this page.',  '/#sec5'
              %p
                Your
                %em chauffeurs:
                = les_chauffeurs 
              
  / about section ends
  %section.mailing-list-signup#sign-up
    .container 
      .row 
        .col-lg-12
          = render partial: 'common/mailchimp_signup' 
        
  -# %section.contact-form{ style: "height: 100px;"}
  -#   .container
  -#     .row
  -#       .form
  -#         .sbtn.col-lg-12.text-center
  -#           = form_tag "/contact-us" do
  -#             = text_field_tag 'name', nil, class: 'name form-input', placeholder: "NAME"
  -#             = email_field_tag 'email', nil, class: 'email form-input', placeholder: "EMAIL"
  -#             = text_field_tag 'message', nil, class: 'message form-input', placeholder: "MESSAGE"
  -#             - if Rails.env != 'development'
  -#               .captcha
  -#                 = recaptcha_tags
  -#             = submit_tag 'SEND', class: 'submit-btn', disabled: true
