- config = Rails.configuration.rendezvous
/ banner area starts here
%section.banner
  .container-fluid
    .row.justify-content-center.align-items-center{style: "min-height: 400px;"}
      .col-lg-4
        %h1.h2 #{event_dates}
        %h2.h3 Saratoga Springs, New York
        %p
          Stay tuned for #{event_year} info:
          %br
          %a{ href: "https://www.facebook.com/groups/1796592930566951/", target: "_blank" } Connect on Facebook
          %br
          %a{ href: "https://citroenvie.com/", target: "_blank" } Check out CITROËNVIE!

        %section#status
        - if in_registration_window?  
          %h2.registration_open 
            Registration is open for #{Time.now.year}!
        - elsif after_rendezvous? 
          %h2.registration_closed
            Thanks for a great Rendezvous! See you next year!  
        - else  
          %h2.registration_closed
            Online registration is now closed. Please register at the event.

%section#schedule
  .container
    .row.justify-content-center.mt-3
      .col-lg-10
        %h2.h3 #{event_year} Accommodations
        .overview
          %p This year's event hotel is the #{config[:hotel][:name]}, #{config[:hotel][:address]}<span class="badge bg-rendezvous">New</span>
          %p 
            While rooms last, you can reserve on line at our group rate
            = link_to 'here', config[:hotel][:event_registration_link]

            -# You can book out our special event rate of #{config[:hotel][:event_rate]} at this 
            -# 
              link
            by #{config[:hotel][:event_rate_Last_day]}.
            %br
            
    .row.justify-content-center
      .col-lg-10
        %h2.h3 Schedule Overview
        .card-group
          .card
            .card-body
              .card-title.text-center
                %h3 #{relative_date(0, "%A")}
                %i.fa-solid.fa-route
              .card-text
                %ul.list-group
                  %li.list-group-item
                    %p
                      %strong 2-4pm
                    %p 
                      Ice cream social
                      %br Kaleidescope Cafe
                  %li.list-group-item
                    %p
                      %strong 5-7pm
                    %p 
                      Pizza, socializing, and packet pick-up
                      %br VFW Post 420, 190 Excelsior Ave., Saratoga Springs 
                  %li.list-group-item
                    Enjoy Saratoga Springs's dinner offerings 

          .card
            .card-body
              .card-title.text-center
                %h3 #{relative_date(1, "%A")}
                %i.fa-solid.fa-car
              .card-text
                %ul.list-group
                  %li.list-group-item
                    %p
                      %strong 9am-4pm
                    %p Showfield is open, #{config[:venue][:name]}, #{config[:venue][:address]}
                  %li.list-group-item
                    %p
                      %strong 11am-6pm
                    %p Silent auction. Winners announced after dinner.
                  %li.list-group-item
                    %p
                      %strong 4-5:30pm
                    %p Downtime: RELAX!
                  %li.list-group-item
                    %p
                      %strong 6-8pm
                    %p Banquet dinner
                  %li.list-group-item
                    %p
                      %strong 8pm
                    %p People's Choice awards!
          .card
            .card-body
              .card-title.text-center
                %h3 #{relative_date(2, "%A")}
                %i.fa-solid.fa-road
              .card-text
                %ul.list-group
                  %li.list-group-item
                    %p 
                      %strong 9-11am
                    %p 
                      Farewell breakfast
                      %br American Legion Post 70, 34 West Ave., Saratoga Springs 

/ service section
%section#info
  .container
    .row.justify-content-center
      .col-lg-10
        .card 
          .card-body 
            .card-title
              %h3.h4 Alternative Accommodations
            .card-text
              %p Keep in mind that the Rendezvous happens in high season in Saratoga Springs
              %ul
                %li= link_to 'Airbnb.com', 'https://www.airbnb.com/saratoga-springs-ny/stays', { target: '_blank' }
                %li= link_to 'Kayak', 'https://www.kayak.com/', { target: '_blank' }
                %li= link_to 'Expedia', 'https://www.expedia.com/', { target: '_blank' }
                %li 
                  Check with the 
                  = link_to 'Saratoga Springs Convention & Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', { target: '_blank' }

        .card 
          .card-body 
            .card-title
              %h3.h4 Supporting Vendors
            .card-text
              %p
                We couldn't put on the Rendezvous (nor could we keep our cars going) without our
                = link_to 'friendly and knowledgeable supporting vendors', '/vendors'

        .card 
          .card-body 
            .card-title
              %h3 History
            .card-text
              %p
                Lance Hellmann, one of the original organizers of the Rendezvous has kindly written a
                = link_to 'charming little history', '/history'
                of the event, edited for this site by David Cossitt-Levy. Enjoy!

        .card 
          .card-body 
            .card-title
              %h3.h4 Organization
            .card-text
              %p
                %em Volunteers wanted!
              %p
                The Rendezvous is run by volunteers, with a small group of
                %em chauffeurs
                at the wheel organizing things and making sure all the details are in place for a safe and fun-filled event. If you are
                interested in volunteering, by all means get in touch with us using the
                = link_to 'contact form at the bottom of this page.',  '/#sec5'
              %p
                Your
                %em chauffeurs:
                = les_chauffeurs 
              
  / about section ends
  %section.mailing-list-signup#sign-up
    .container 
      .row 
        .col-lg-12
          = render partial: 'common/mailchimp_signup' 
        
  -# %section.contact-form{ style: "height: 100px;"}
  -#   .container
    -# .row
      -#   .form
      -#     .sbtn.col-lg-12.text-center
      -#       = form_tag "/contact-us" do
      -#         = text_field_tag 'name', nil, class: 'name form-input', placeholder: "NAME"
      -#         = email_field_tag 'email', nil, class: 'email form-input', placeholder: "EMAIL"
      -#         = text_field_tag 'message', nil, class: 'message form-input', placeholder: "MESSAGE"
      -#         - if Rails.env != 'development'
      -#           .captcha
      -#             = recaptcha_tags
      -#         = submit_tag 'SEND', class: 'submit-btn', disabled: true
