- config = Rails.configuration.rendezvous
/ banner area starts here
%section.banner
  .container 
    .row.justify-content-center
      %img{src: image_url("Deesse-70.svg")}
%section#welcome
  .container-fluid
    .row.justify-content-center 
      .col-md-8.col-12 
        .card 
          .card-body 
            .card-title 
              %h1.h2 Citroen Rendezvous 2025
            .card-text
              = keyed_content("main_welcome")

%section#acommodations
  .container-fluid
    .row.justify-content-center
      .col-md-8.col-12
        .card 
          .card-body 
            .card-title
              %h2.h3 #{event_year} Accommodations
            .card-text
              .description 
                = @event_hotel.details_as_html
              %p
                While rooms are still available, you can reserve on line at our group rate
                = link_to 'here', @event_hotel.reservation_url
                or use group code #{@event_hotel.group_code}
                by #{@event_hotel.close_date}.
                %br

              %h3.h5 Alternative Accommodations
              = keyed_content("main_other_accommodations")
              %ul
                %li= link_to 'Airbnb.com', 'https://www.airbnb.com/saratoga-springs-ny/stays', { target: '_blank' }
                %li= link_to 'Kayak', 'https://www.kayak.com/', { target: '_blank' }
                %li= link_to 'Expedia', 'https://www.expedia.com/', { target: '_blank' }
                %li 
                  Check with the 
                  = link_to 'Saratoga Springs Convention & Tourism Bureau', 'http://discoversaratoga.org/saratoga/lodging', { target: '_blank' }
%section#info
  .container-fluid 
    .row.justify-content-center
      .col-md-10.col-12
        .card 
          .card-body
            .card-text
              .card-group
                .row.justify-content-center
                  .col-12.col-lg-4
                    .card 
                      .card-body 
                        .card-title
                          %h3.h4 Volunteers Wanted!
                        .card-text
                          = keyed_content("main_volunteers")
                          %p
                            Your
                            %em chauffeurs:
                            = les_chauffeurs 
                  .col-md-4.col-12
                    .card 
                      .card-body 
                        .card-title
                          %h3.h4 Our Vendors
                        .card-text
                          = keyed_content("main_vendors")
                          %p
                            = link_to 'Supporting Vendors', vendors_path, class: "btn btn-sm btn-info"
                  .col-md-4.col-12
                    .card 
                      .card-body 
                        .card-title
                          %h3 History
                        .card-text
                          = keyed_content("main_history")

%section#schedule-overview
  .container-fluid    
    .row.justify-content-center
      .col-md-10.col-12
        .card
          .card-body
            .card-title
              %h2.h3.no-card Schedule Overview
            .card-text
              .card-group
                .row.justify-content-center
                  - @events_by_day.each do |day, events|
                    .col-12.col-lg-4
                      .card
                        .card-body
                          .card-title.text-center
                            %h3 #{day}
                            %i.fa-solid.fa-route
                          .card-text
                            %ul.list-group
                              - events.each do |event|
                                %li.list-group-item
                                  %p
                                    %strong 
                                      #{event.time}
                                      %br 
                                      %em #{event.name}
                                  - if event&.venue.nil?
                                    %p Location TBD 
                                  - else 
                                    %p= event&.venue&.name
                                  .description
                                    = event.short_description_as_html


              
  / about section ends
  %section.mailing-list-signup#sign-up
    .container 
      .row 
        .col-lg-12
          = render partial: 'common/mailchimp_signup' 
        
  -# %section.contact-form{ style: "height: 100px;"}
  -#   .container
  -#     .row
  -#       .form
  -#         .sbtn.col-lg-12.text-center
  -#           = form_tag "/contact-us" do
  -#             = text_field_tag 'name', nil, class: 'name form-input', placeholder: "NAME"
  -#             = email_field_tag 'email', nil, class: 'email form-input', placeholder: "EMAIL"
  -#             = text_field_tag 'message', nil, class: 'message form-input', placeholder: "MESSAGE"
  -#             - if Rails.env != 'development'
  -#               .captcha
  -#                 = recaptcha_tags
  -#             = submit_tag 'SEND', class: 'submit-btn', disabled: true
