.content
  .row.justify-content-center
    .col-md-8.col-12
      .card 
        .card-body 
          .card-title
            %h1.h2.page-title= @title
          .card-text
            %p
              This website, citroenrendezvous.org, is owned and operated by Citroen Rendezvous LLC.
            
            %h2.h3 Official Contact
            #{official_contact}

            %h2.h3 Policies

            %h3.h4 Event Pricing
            %p The cost for attending the event is $#{event_fee} per adult, free children under the age of 15.

            %h3.h4 Refund Policy
            %p In case of cancellation, Citroen Rendezvous LLC will refund up to the full registration fee for the event until one (1) week before the event; the last day to request a refund is #{refund_date}.
            %p If payment was made by credit card, cancellations will be refunded by crediting your card.

            .privacy-policy
              = keyed_content("page_legal")