.well.well-sm.registrant
  %p
    %b Registration number:
    #{@rendezvous_registration.invoice_number}
    &nbsp;&nbsp;&nbsp
    = link_to 'Print <i class="fa fa-print"></i>'.html_safe, 'javascript:window.print();'
  %h3= @rendezvous_registration.user.full_name
  %p= @rendezvous_registration.user.email
  %p
    #{@rendezvous_registration.user.address1}
    - unless @rendezvous_registration.user.address2.blank?
      %br #{@rendezvous_registration.user.address2}
    %br #{@rendezvous_registration.user.city}, #{@rendezvous_registration.user.state_or_province} #{@rendezvous_registration.user.postal_code}
    #{@rendezvous_registration.user.country_name.upcase}


.well.well-sm.payment
  %h3 Fees
  .row
    .col-md-12
      %p
        %label Registration Status - #{@rendezvous_registration.status}
      %p
        %label Registration fee:
        #{number_to_currency(@rendezvous_registration.registration_fee)} (US)
        - if @rendezvous_registration.status != Rails.configuration.rendezvous[:registration_statuses][0]
          %br
          %label Donation:
          - if @rendezvous_registration.donation.blank?
            (no donation)
          - else
            #{number_to_currency(@rendezvous_registration.donation)} (US)
          %br
          %br
            %label Total:
            #{number_to_currency(@rendezvous_registration.total)} (US)

          %h4 Transactions
          %table.table
            %thead
              %tr
                %th Transaction Type
                %th Transaction Method
                %th Credit Card Transaction ID
                %th Amount
            %tbody
              - @rendezvous_registration.transactions.each do |transaction|
                %tr
                  %td= transaction.transaction_type
                  %td= transaction.transaction_method
                  %td= transaction.cc_transaction_id
                  %td #{number_to_currency(transaction.amount)} (US)

          %strong
            %label Balance:
            #{number_to_currency(@rendezvous_registration.balance)} (US)
    - if (@rendezvous_registration.status == 'payment due')
      .col-md-6.col-xs-12
        %p
          Please print this invoice or the one you received via email and send with a check for the amount due to:
          %br= mailing_address

- if current_user == @rendezvous_registration.user
  .well.well-sm.attendees
    %h3 Attendees
    %table.table
      %thead
        %th Name
        %th Adult or Child
        -# %th Sunday Dinner
        %th Volunteer
      %tbody
        -@rendezvous_registration.attendees.each do |a|
          %tr
            %td= a.name
            %td= a.adult_or_child
            -# %td #{a.sunday_dinner? ? 'yes' : 'no'}
            %td #{a.volunteer? ? 'yes' : 'no'}

  .well.well-sm.vehicles
    %h3 Vehicles
    %p This is the vehicle information we have for you.
    %p If you are bringing different vehicles, please update after you finish registering.
    - if @rendezvous_registration.user.vehicles.blank?
      %p You are not bringing any vehicles to the Rendezvous.
    - else
      %table.table
        %thead
          %th Marque
          %th Model
          %th Year
          %th Other info
          %th Judging category
        %tbody
          - @rendezvous_registration.user.vehicles.each do |v|
            %td= v.marque
            %td= v.model
            %td= v.year
            %td= v.other_info
            %td= v.judging_category
