.registration-progress
  %ul.list-inline
    %li{ :class => "step #{ registration_progress_indicator(step, 'welcome') }"} 
      Welcome
      %i.fa.fa-arrow-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'sign') }"} 
      Sign in
      %i.fa.fa-arrow-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'register') }"} 
      Register
      %i.fa.fa-arrow-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'review') }"} 
      Review
      %i.fa.fa-arrow-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'payment') }"} 
      Payment
      %i.fa.fa-arrow-right
    %li{ :class => "step #{ registration_progress_indicator(step, 'vehicles') }"} Vehicles
   