- if user_signed_in? 
  %p.bg-info You are signed in with your user account.
.row
  .col-md-12
    .form-group
      = f.input :email, :label_html => { :class => 'sr-only' }, :input_html => { :value =>  (user_signed_in? ? current_user.email : ''), :class => 'primary', :placeholder => 'E-mail *' }, :disabled => user_signed_in?
      - if user_signed_in?
        = f.input :id, :as => :hidden, :input_html => { :value => current_user.id }
       
.row
  .col-md-12
    %label Name
.row
  .col-md-6.col-xs-12
    .form-group
      = f.input :first_name, :input_html => { :value => (user_signed_in? ? current_user.first_name : ''), :placeholder => 'First name *' }
  .col-md-6.col-xs-12
    .form-group
      = f.input :last_name, :input_html => { :value => (user_signed_in? ? current_user.last_name : ''), :placeholder => 'Last name *' }

.row
  .col-md-12
    %p If you intend to pay by credit card, please use your billing address.
    %label Address
    .form-group
      = f.input_field :address1, :input_html => { :value => (user_signed_in? ? current_user.address1 : '') }, :class => 'form-control', :placeholder => 'Address 1 *'
    .form-group
      = f.input_field :address2, :input_html => { :value => (user_signed_in? ? current_user.address2 : '') }, :class => 'form-control', :placeholder => 'Address 2'
    .form-group
      = f.input :city, :input_html => { :value => (user_signed_in? ? current_user.city : '') }, :class => 'form-control', :placeholder => 'City *'
    .row
      .col-md-4.col-xs-12
        .form-group
          = f.input :state_or_province, :collection => state_province_list, :as => :grouped_select, :group_method => :last, :include_blank => '-- Select State or Province --'
      .col-md-4.col-xs-12
        .form-group
          = f.input :postal_code, :input_html => { :class => 'form-control', :placeholder => 'Zip/Postal Code *' }
    .row
      .col-md-12
        %label Country
        .form-group
          = f.input :country, :label_html => { :class => 'sr-only' }, :collection => country_list, :as => :radio_buttons, :item_label_class => 'radio-inline', :item_wrapper_tag => false, :checked => 'US'

= field_set_tag 'Vehicles' do
  %p Please add the vehicles you are bringing to the Rendezvous.
  #vehicles
    = f.simple_fields_for :vehicles do |v|
      = render 'common/vehicle_fields', :f => v
    .links
      = link_to_add_association '<i class="fa fa-plus" ></i> <i class="fa fa-car" ></i>'.html_safe, f, :vehicles, :class => "btn btn-primary btn-sm", :partial => 'common/vehicle_fields'
      Add a vehicle
