.container
  .row
    .col-md-offset-2.col-md-8.col-xs-12.heading
      %h1= (@user == current_user) ? 'My Profile' : "Profile for #{@user.full_name}"
      .well.well-sm
        %p
          %em Name: #{@user.full_name}
        %p
          %em Email: #{@user.email}
        %p
          %em Address:
          %blockquote
            = address_of(@user)
        %p
          %em Attending the #{Time.now.year} Rendezvous: #{@user.attending ? 'Yes' : 'No'}
        %p
          %em Receiving mailings: #{@user.receive_mailings? ? 'Yes' : 'No'}
        %p
          %em Interested in Citroenvie: #{@user.citroenvie? ? 'Yes' : 'No'}
        - if @user.registrations.last
          %p
            = link_to 'View my registration', registration_path(@user.registrations.last)
      - unless @user.vehicles.blank?
        .well.well-sm
          %h2 Vehicles
          %p These are the vehicles you are bringing to the show.
          %p 
            You may change these at any time
            = succeed '.' do
              = link_to 'here', edit_user_path(@user)

          %ul
            - @user.vehicles.each do |v|
              %li= v.full_spec
      =link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-warning'      
