!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A website for the northeast Citroen enthusiasts gathering", :name => "description"}/
    %meta{:content => "Citroen Rendezvous, LLC", :name => "author"}/

    %title Registration Invoice | Citroen Rendezvous #{Time.new.year}

    = stylesheet_link_tag 'application', :media  => 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300", :rel => "stylesheet", :type => "text/css"}/

    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :header_tags
    
    /
      [if lt IE 9]
      = javascript_include_tag "html5shiv"
      = javascript_include_tag "respond"

  %body.simple
    .body_wrapper
      = render :partial => 'common/manage'
      = render :partial => 'layouts/flash'
      .back-bar
        %a{:href => '/'}
          %i.fa.fa-arrow-left
          Back to main page
      .content
        = yield
      .push  
    %footer.footer.text-center
      %p 
        ©#{Time.now.year} Citroen Rendezvous LLC | Terms of use | Legal disclaimer
        %br Original theme by mostafizur, adapted by wordsareimages
    #modal
      .modal-wrapper
      