!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A website for the northeast Citroen enthusiasts gathering", :name => "description"}/
    %meta{:content => "Citroen Rendezvous, LLC", :name => "author"}/

    %title #{@title} | #{Time.now.year} Citroën Rendezvous

    = stylesheet_link_tag 'application', :media  => 'all'
    
    %script{ :src => 'https://use.fontawesome.com/5257bcd371.js' }
    = javascript_include_tag 'application'
    
    = csrf_meta_tags
    = yield :header_tags
    
    /
      [if lt IE 9]
      = javascript_include_tag "html5shiv"
      = javascript_include_tag "respond"
    :javascript
      var appData = #{ActiveSupport::JSON.encode(@app_data)};

  %body{ :class => "c_#{controller_name()} simple" }
    .body_wrapper
      = render :partial => 'common/manage'
      = render :partial => 'layouts/flash'
      .back-bar
        %a{:href => '/'}
          %i.fa.fa-arrow-left
          Back to main page
      .content
        = yield
      .push
      = render :partial => 'common/footer'  

